<%# locals: (invite:, group: nil, roles: []) %>
<%= form_with(model: [group, invite], data: {turbo: modal_wrapper? ? "true" : "false"}, class:"space-y-2") do |form| %>
  <% id = invite.new_record? ? "invite_new" : "invite_#{invite.id}" %>
  <%= render "shared/notification", id: id %>

  <div>
    <%= form.hidden_field :user_id, value: invite.user_id %>
  </div>

  <div>
    <%= form.hidden_field :group_id, value: invite.group_id %>
  </div>

  <div>
    <%= form.hidden_field :invite_token %>
  </div>

  <%= content_tag :div do %>
    <%= render "shared/form_label", text: "Permissions", form: form, field: :assigned_role_ids, extra_classes: "block" %>
    <%= form.collection_check_boxes :assigned_role_ids, roles, :id, :name, include_hidden: true do |box| %>
      <div class="flex items-center space-x-2">
        <%= box.check_box(checked: invite.assigned_role_ids.include?(box.value.to_i)) %>
        <%= box.label { format_group_role(box.object) } %>
      </div>
    <% end %>
  <% end if roles.present? %>

  <div data-controller="flatpickr" class="flatpickr" data-flatpickr-timezone-value="<%= Current.user.timezone %>">
    <%= render "shared/form_label", form: form, field: :expires_at, extra_classes: "block" %>
    <%= form.datetime_field :expires_at,
                            data: { flatpickr_target: "startDate" },
                            required: true,
                            value: invite.expires_at&.in_time_zone(Current.user.timezone) ||
                              (1.week.from_now).in_time_zone(Current.user.timezone) %>
  </div>

  <div class="mt-3">
    <%= render "shared/buttons/form_submit_button", form: form, text: "Save" %>
  </div>
<% end %>
