<%= form_with(model: [group, invite]) do |form| %>
  <% if invite.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(invite.errors.count, "error") %> prohibited this group_invite from being saved:</h2>

      <ul>
        <% invite.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :user_id, value: invite.user_id %>
  </div>

  <div>
    <%= form.hidden_field :group_id, value: invite.group_id %>
  </div>

  <div>
    <%= form.hidden_field :invite_token %>
  </div>

  <div>
    <%= form.label :assigned_role_ids, "Permissions", style: "display: block" %>
    <%= form.collection_check_boxes :assigned_role_ids, (group&.roles || invite.group.roles), :id, :name, include_hidden: true do |box| %>
      <div>
        <%= box.check_box(checked: invite.assigned_role_ids.include?(box.value.to_i)) %>
        <%= box.label { box.text.humanize } %>
      </div>
    <% end %>
  </div>

  <div class="flatpickr" data-controller="flatpickr" data-flatpickr-timezone-value="<%= Current.user.timezone %>">
    <%= form.label :expires_at, style: "display: block" %>
    <%= form.datetime_field :expires_at, data: { flatpickr_target: "startDate" }, value: (1.week.from_now).in_time_zone(Current.user.timezone) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
