<%# locals: (invite:, group: nil, roles: [] %>
<%= form_with(model: [group, invite]) do |form| %>
  <% id = invite.new_record? ? "invite_new" : "invite_#{invite.id}" %>
  <%= render "shared/notification", id: id %>

  <div>
    <%= form.hidden_field :user_id, value: invite.user_id %>
  </div>

  <div>
    <%= form.hidden_field :group_id, value: invite.group_id %>
  </div>

  <div>
    <%= form.hidden_field :invite_token %>
  </div>

  <div>
    <%= form.label :assigned_role_ids, "Permissions", style: "display: block" %>
    <%= form.collection_check_boxes :assigned_role_ids, roles, :id, :name, include_hidden: true do |box| %>
      <div>
        <%= box.check_box(checked: invite.assigned_role_ids.include?(box.value.to_i)) %>
        <%= box.label { box.text.humanize } %>
      </div>
    <% end if roles.present? %>
  </div>

  <div class="flatpickr" data-controller="flatpickr" data-flatpickr-timezone-value="<%= Current.user.timezone %>">
    <%= form.label :expires_at, style: "display: block" %>
    <%= form.datetime_field :expires_at,
                            data: { flatpickr_target: "startDate" },
                            value: invite.expires_at&.in_time_zone(Current.user.timezone) || (1.week.from_now)
                              .in_time_zone(Current.user.timezone) %>
  </div>

  <div class="mt-3">
    <%= render "shared/buttons/form_submit_button", form: form, text: "Save" %>
  </div>
<% end %>
