<div id="<%= dom_id invite %>">
  <div>
    <strong>Created By:</strong>
    <%= invite.user.username %>
  </div>

  <div>
    <strong>Invite URL:</strong>
    <%= accept_invite_url(invite_token: invite.invite_token) %>
  </div>

  <div class="flex">
    <div>
      <strong>Roles:</strong>
      <% if invite.assigned_role_ids.any? %>
        <%= render "shared/buttons/icon_link", path: edit_invite_path(invite), title: "Edit Invite", svg_name: "edit" %>
        <% invite.assigned_roles.map { |role| role.name }.each do |role_name| %>
          <div>-<%= role_name.humanize %></div>
        <% end %>
      <% else %>
        <em>None</em>
        <div>
          <%= render "shared/buttons/icon_link", path: edit_invite_path(invite), title: "Edit Invite", svg_name: "edit" %>
        </div>
      <% end %>
    </div>
  </div>

  <div>
    <strong>Expires at:</strong>
    <%= invite.expires_at %>
  </div>
</div>
