<div id="<%= dom_id invite %>">
  <div>
    <strong>User:</strong>
    <%= invite.user_id %>
  </div>

  <div>
    <strong>Group:</strong>
    <%= invite.group_id %>
  </div>

  <div>
    <strong>Invite URL:</strong>
    <%= accept_invite_url(invite_token: invite.invite_token) %>
  </div>

  <div>
    <strong>Roles:</strong>
    <% if invite.assigned_role_ids.any? %>
      <% Role.where(id: invite.assigned_role_ids).pluck(:name).each do |role_name| %>
        <div><%= role_name.humanize %></div>
      <% end %>
    <% else %>
      <em>None</em>
    <% end %>
  </div>

  <div>
    <strong>Expires at:</strong>
    <%= invite.expires_at %>
  </div>
</div>
