<%= render "shared/notification", id: "invites" %>
<section id="invites" class="max-w-4xl mx-auto">
  <%= render partial:"invites/table/invite_table_header", locals: {group: @group } %>
  <%= turbo_frame_tag "invite_table_#{@group.id}",
                      role: "presentation",
                      data: {src: group_invites_path(@group)} do %>
    <% if @invites&.any? %>
      <%= render partial: "invites/table/invite_table", locals: { invites: @invites} %>
    <% else %>
      <div class="text-center text-gray-500 dark:text-gray-400 mb-4">
        <p><%= t("invite.index.empty") %></p>
      </div>
    <% end %>
  <% end %>
</section>
<div class="flex space-x-4 justify-between w-full">
  <%= render "shared/buttons/secondary_link", path: group_path(@group), text: "Back to group" %>
</div>
<% content_for(:page_title, t("invite.title")) %>