<%= render "shared/notification", id: "invites" %>
<div id="invites" class="max-w-4xl">
  <%= render partial:"invites/table/invite_table_header", locals: {group: @invites.first.group} if @invites.present? %>
  <%= turbo_frame_tag "invite_table_#{@group.id}", data: {src: group_invites_path(@group)} do %>
    <%= render partial: "invites/table/invite_table", locals: { invites: @invites} %>
  <% end %>
</div>
<%= render "shared/buttons/secondary_link", path: group_path(@group), text: "Back to group" %>