<%= render "shared/header_primary" do %>
  <%= t("invites.new.title",
        group_name: content_tag(:span, @group.name, class: 'font-bold text-primary-600')).html_safe %>
<% end %>
<div class="my-4 space-x-2">
  <%= modal_wrapper "New Invite" do %>
    <%= render "form", invite: @invite, group: @group, roles: @roles %>
  <% end %>
</div>

<div class="mt-4 space-x-2">
  <%= render "shared/buttons/secondary_link", text: "Back to group invites", path: group_invites_path(@invite.group) %>
</div>
<% content_for(:page_title, t("invite.title")) %>