  <h1 class="text-xl font-bold dark:text-white">Forgot your password?</h1>
  <%= render "shared/notification", id: "password_reset" %>

  <%= form_with(url: identity_password_reset_path) do |form| %>
    <div>
      <%= form.label :email, "Email", style: "display: block", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= form.email_field :email,
                           autofocus: true,
                           autocomplete: "email",
                           class:  "#{input_field_classes}",
                           placeholder: "name@email.com"%>
    </div>

    <div class="flex justify-between mt-4">
      <%= render "shared/buttons/form_submit_button", text: "Send password reset email", form: form %>
      <%= link_to "Sign in", sign_in_path, class: "font-medium text-primary-600 hover:underline dark:text-primary-500" %>
    </div>
  <% end %>
  <div class="mt-4">
  </div>