<%# locals: (group_membership:, most_permissive_role: nil) %>
<tr id="group_membership_row_<%= group_membership.id %>" class="text-center hover:bg-gray-100 dark:hover:bg-gray-700 h-fit">
  <td class="pl-4 align-middle">
    <% if can_kick_user?(group_membership) %>
      <%= render "shared/buttons/delete_link",
                 path: group_membership_path(group_membership),
                 title: "Kick User",
                 confirm_text: "Are you sure you want to kick #{group_membership.user.username} from the group?" %>
    <% end %>
  </td>
  <th scope="row" class="sticky left-0 z-10 pl-3 py-4 pr-3 min-w-32 font-medium text-gray-900 dark:text-white
    w-40">
    <div class="flex items-center space-x-2 relative">
      <%= user_avatar(group_membership.user, size_x: 24) %>
      <span class="ml-1"><%= username_with_resource_role_icons(group_membership.user, group_membership.group) %></span>
    </div>
    <div class="mt-1">
      <%= render "shared/time_badge", time: group_membership.created_at.strftime("%B %d, %y"), title: "Join Date" %>
    </div>
  </th>
  <td class="px-4 py-4">
    <ul class="list-disc list-inside text-left">
      <%= turbo_frame_tag "user_roles_#{group_membership.user.id}_group_#{group_membership.group.id}",
                          src: group_permission_set_path(user_id: group_membership.user.id, group_id: group_membership.group.id),
                          role: "presentation",
                          loading:"lazy" do %>
        <%= render "shared/spinner" %>
      <% end %>
    </ul>
  </td>
</tr>