<%# locals: (group_membership:) %>
<tr class="text-center hover:bg-gray-100 dark:hover:bg-gray-700 h-fit">
  <td class="ml-1 py-8 flex items-center justify-center">
    <% if can_update_resource_permissions_for_user?(group_membership.user, group_membership.group) %>
      <%= render "shared/buttons/icon_link", path:edit_group_permission_set_path(group_membership.group, user_id: group_membership.user.id),
                 title:"Edit Permissions",
                 svg_name:"edit",
                 data: {turbo_frame: "modal_frame"} %>
    <% end %>
    <% if can_kick_user?(group_membership) %>
      <%= render "shared/buttons/delete_link",
                 path: group_membership_path(group_membership),
                 title: "Kick User",
                 confirm_text: "Are you sure you want to kick #{group_membership.user.username} from the group?" %>
    <% end %>
  </td>
  <th scope="row" class="sticky left-0 z-10 pl-3 py-4 pr-3 min-w-32 font-medium text-gray-900 dark:text-white
    w-40">
    <div class="flex items-center space-x-2">
      <%= user_avatar(group_membership.user, size_x: 24) %>
      <span class="ml-1"><%= username_with_resource_role_icons(group_membership.user, group_membership.group) %></span>
    </div>
    <div class="mt-1">
      <%= render "shared/time_badge", time: group_membership.created_at.strftime("%B %d, %y"), title: "Join Date" %>
    </div>
  </th>
  <td class="px-4 py-4">
    <ul class="list-disc list-inside text-left">
      <% roles = group_membership.user.roles.where(resource: group_membership.group) %>
      <%= "None" unless roles.present? %>
      <% group_membership.user.roles.where(resource: group_membership.group).each do |role| %>
        <li class="text-black dark:text-gray-500"><%= role.name.titleize %></li>
      <% end if roles.present? %>
    </ul>
  </td>
</tr>