<%# locals: (invite:) %>
<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
    You've been invited to join
  <span class="text-blue-600 dark:text-blue-500"><%= invite.group.name %></span>
</h1>

<%= form_with(model: [invite.group, invite.group.group_memberships.build(user_id: Current.user.id)]) do |form| %>
  <%= form.hidden_field :invite_token, value: invite.invite_token %>
  <%= form.hidden_field :user_id, value: Current.user.id %>
  <%= form.submit "Accept Invite", class:"cursor-pointer text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700
    hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg
    shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" %>
<% end %>
