<%= form_with(url: accept_invite_path,
              scope: :group_membership,
              method: :get,
              class:"flex flex-col w-full items-center space-y-2") do |form| %>
  <div>
    <%= render "shared/header_primary" do %>
      <%= t("group_membership.new.title") %>
    <% end %>
  </div>
  <div class="flex flex-col">
    <%= form.hidden_field :user_id, value: Current.user.id %>
    <%= render "shared/form_label", form: form, field: :invite_token, text: t("group_membership.form.token.field_label") %>
    <%= form.text_field :invite_token,
                        placeholder: t("group_membership.form.token.field_label"),
                        autofocus: "autofocus",
                        value: (params[:invite_token] if params[:invite_token].present?) %>
    <p>You can paste the token by itself or the entire invite URL.</p>
    <ul class="list-inside">
      Example:
      <li class="text-sm text-gray-800 dark:text-gray-400">uW1eCcdMo7njbTySoKk21ytq</li>
      <li class="text-sm text-gray-800 dark:text-gray-400">
        <%= root_url %>invites/accept?invite_token=uW1eCcdMo4njbTySoKk21ytq
      </li>
    </ul>
    <%= form.submit t("group.join.submit_text"),
                    class:"cursor-pointer mt-2 text-white bg-gradient-to-r from-blue-500 via-blue-600
    to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800
    shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5
    text-center me-2 mb-2" %>
  </div>
<% end %>