<%# locals: (group_membership:, attendance: nil, proposal_vote: nil) %>
<dl id="<%= dom_id group_membership %>">

  <div class="flex space-x-2">
    <dt class="font-semibold">User:</dt>
    <dd> <%= group_membership.user.username %></dd>
  </div>

  <div class="flex space-x-2">
    <dt class="font-semibold">Group:</dt>
    <dd> <%= group_membership.group.name %></dd>
  </div>

  <div class="flex space-x-2">
    <dt class="font-semibold">Joined:</dt>
    <dd> <%= group_membership.created_at.in_time_zone(Current.user.timezone).strftime("%B %d, %Y %I:%M %p") %></dd>
  </div>

  <%= content_tag :div, class:"flex space-x-2" do %>
    <dt class="font-semibold">Attending:</dt>
    <dd> <%= format_attendance(attendance) %></dd>
  <% end if attendance.present? %>

  <%= content_tag :div, class:"flex space-x-2" do %>
    <dt class="font-semibold">Vote:</dt>
    <dd> <%= format_vote(proposal_vote) %></dd>
  <% end if proposal_vote.present? %>
</dl>
