<%# locals: (group:, limit: 8) %>
<%= content_tag :div,
                id:"group_#{group.id}_member_list",
                class:"mr-auto max-w-screen-xl bg-white dark:bg-gray-800 relative" do %>
  <div id="group_member_list" class="flex">
    <% group.group_memberships.first(limit).each do |membership| %>
      <% frame_id = derive_permission_set_frame_id(user: membership.user, group: group) %>
      <% dialog_popover_id = "popover_#{frame_id}" %>

      <div data-controller="anchor-position"
           data-anchor-position-target="anchor"
           data-anchor-position-position-style-value="absolute"
           class="flex relative">
        <div data-controller="stimulus-popover" class="group_membership_<%= membership.id %>">
          <div class="flex relative"
               data-action="mouseenter->stimulus-popover#show mouseleave->stimulus-popover#hide focusin->stimulus-popover#show focusout->stimulus-popover#hide">

            <button popovertarget="<%= dialog_popover_id %>"
                    aria-label="View roles for <%= membership.user.username %> in <%= membership.group.name %>"
                    aria-details="popover_group_membership_<%= membership.id %>"
                    data-action="click->anchor-position#triggerUpdate">
              <%= user_avatar(membership.user, size_x: 32) %>
            </button>
          </div>

          <%= render "shared/popover_stimulus",
                     id: "popover_group_membership_#{membership.id}",
                     extra_classes: "top-7 left-8 -translate-x-1/2 w-max" do %>
            <div class="pb-3">
              <div class="bg-gray-100 dark:bg-gray-700 border-b-2 rounded-t-lg border-gray-400 dark:border-gray-600 text-center">
                <span class="font-bold text-primary-600 mx-2"><%= membership.user.username %></span>
              </div>

              <div class="px-3">
                <%= render "users/roles", user: membership.user, group: group %>
              </div>
            </div>
          <% end %>
        </div>
        <%= render "shared/popover_top_layer", id: dialog_popover_id, extra_classes: "p-4" do %>
          <%= turbo_frame_tag frame_id,
                              src: group_permission_set_path(user_id: membership.user.id, group_id: group.id),
                              data: { action: "turbo:frame-load->anchor-position#triggerUpdate"},
                              loading:"lazy" do %>
            <%= render "shared/spinner" %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% remaining_users = group.group_memberships.count - limit %>
    <% if remaining_users > 0 %>
      <button data-action="dialog#open"
              class="ml-2 font-semibold text-secondary-500 hover:text-secondary-400 dark:text-secondary-200
                dark:hover:text-secondary-100">
        +<%= remaining_users %> more
      </button>
    <% end %>
  </div>
<% end %>
