<%# locals: (group_membership:, notice: nil, group_permission_set:) %>
<%= modal_wrapper(group_membership.user.username) do %>
  <%= content_tag(:div, id:dom_id(group_membership, :content)) do %>
    <p style="color: green"><%= notice %></p>

    <%= render group_membership %>

    <div class="mt-2">
      <%= render "shared/buttons/secondary_link",
                 path:edit_group_permission_set_path(group_membership.group, user_id: group_membership.user.id),
                 text: "Edit Group Permissions" if group_permission_set_policy(group_permission_set).edit? %>
      <% if can_kick_user?(group_membership) %>
        <%= render "shared/buttons/delete_button",
                   resource: group_membership,
                   text: "Kick User",
                   confirm_text: "Are you sure you want to kick #{group_membership.user.username} from the group?" %>
          <%= button_to "Kick User",
                        group_membership,
                        {method: :delete, data: { turbo_method: "delete",
                                 turbo_confirm: "Are you sure you want to kick #{group_membership.user.username} from the group?"}} %>
      <% end %>
    </div>
  <% end %>
<% end %>