<%# locals: (group_membership: %>
<%= modal_wrapper(group_membership.user.username) do %>
  <%= content_tag(:div, id:dom_id(group_membership, :content)) do %>
    <%= render "shared/notification", id: "group_membership_#{group_membership.id}" %>
    <%= render group_membership %>

    <div class="my-2 space-y-4 has-[ch]:hidden">
      <% if can_kick_user?(group_membership) %>
        <%= render "shared/buttons/delete_button",
                   resource: group_membership,
                   text: t("group_membership.destroy.label", username: group_membership.user.username),
                   confirm_text: "Are you sure you want to kick #{group_membership.user.username} from the group?" %>
      <% end %>
    </div>
  <% end %>
<% end %>