<%# locals: (group_membership:, group_permission_set:, game_proposal:nil) %>
<%= modal_wrapper(group_membership.user.username) do %>
  <%= content_tag(:div, id:dom_id(group_membership, :content)) do %>
    <%= render "shared/notification", id: "group_membership_#{group_membership.id}" %>

    <%= render group_membership, game_proposal: game_proposal %>

    <div class="my-4 space-y-4">
      <%= render "shared/buttons/secondary_link",
                 path:edit_group_permission_set_path(group_membership.group, user_id: group_membership.user.id),
                 text: "Edit Group Permissions" if group_permission_set_policy(group_permission_set).edit? %>
      <% if can_kick_user?(group_membership) %>
        <%= render "shared/buttons/delete_button",
                   resource: group_membership,
                   text: "Kick User",
                   confirm_text: "Are you sure you want to kick #{group_membership.user.username} from the group?" %>
      <% end %>
    </div>
  <% end %>
<% end %>