<%= modal_wrapper(@group_membership.user.username) do %>
  <h1>Editing
    <span class="text-blue-400"><%= @group_membership.user.username %></span>'s
    roles in
    <span class="text-blue-400"><%= @group_membership.group.name %></span>
  </h1>

  <%= render "form", group_membership: @group_membership, group: nil %>

  <br>

  <div>
    <%= link_to "Cancel", @group_membership %>
  </div>
<% end %>