<%# locals: (group:, group_availability: nil, group_permission_set: nil) %>
<%= content_tag :article, id:dom_id(group) do %>
  <div class="p-4 border border-gray-200 rounded-lg shadow-md bg-white dark:shadow-md
  dark:bg-gray-800 dark:border-gray-700">
    <div class="relative flex justify-between">

      <div class="mr-4 flex items-center justify-between space-x-2">
        <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white group_name_<%= group.id %>">
          <%= group.name %>
        </h2>
        <% if policy(group).edit? %>
          <%= render "shared/buttons/icon_link",
                     path:edit_group_path(group),
                     title: t("group.edit.title"),
                     extra_classes: "text-secondary-500 hover:text-secondary-400 dark:text-secondary-200 dark:hover:text-secondary-100",
                     svg_name:"edit",
                     data: {turbo_frame: "modal_frame"} %>
        <% end %>
      </div>

      <div class="flex align-top space-x-1">
        <%= render partial:"options", locals: { group:group,
                                                group_availability: group_availability,
                                                group_permission_set: group_permission_set } %>
      </div>
    </div>

    <div class="group_<%= group.id %>_membership_details mt-2 flex flex-col gap-2"
         data-controller="dialog"
         role="presentation"
         data-dialog-ignore-submit-success-value="true">
        <%= render "group_memberships/full_group_membership_button", group: group %>
        <%= render "group_memberships/group_membership_list", group: group, limit: 8 %>
        <%= render "group_memberships/full_group_membership_modal", group: group %>
    </div>
  </div>
<% end %>
<%= turbo_stream_from group %>