<%# locals: (group:, limit: 8) %>
<h5 class="font-normal text-gray-700 dark:text-gray-400">Members: </h5>

<%= content_tag :div, id:"group_#{group.id}_member_list", class:"mx-auto max-w-screen-xl bg-white dark:bg-gray-800 relative shadow-md overflow-hidden" do %>
  <div id="group_member_list" class="flex">
    <% group.group_memberships.first(limit).each do |membership| %>

      <%= link_to group_membership_path(membership), id: "member_list_group_membership_#{membership.id}", class:"flex", data: { popover_target: "popover-user-roles-#{membership.user.id}-#{group.id}", turbo_frame:"modal_frame" } do %>
        <%= user_avatar(membership.user, size_x: 32) %>
      <% end %>

    <% end %>
    <% remaining_users = group.group_memberships.count - limit %>

    <% button_content = capture do %>
      <button type="button" data-action="dialog#open" class="flex items-center justify-center w-8 h-8 text-xs font-medium text-white bg-gray-600 border-2
      border-white rounded-full hover:bg-gray-500 dark:border-gray-800">
        <% if remaining_users > 0 %>
          +<%= remaining_users %>
        <% else %>
          All
        <% end %>
      </button>
    <% end %>

    <%= render "full_member_list",
                 button_content: button_content,
                 group: group %>
  </div>
<% end %>