<%# locals: (group:, group_availability: nil) %>
<div data-controller="dropdown" class="relative">
  <button id="misc-dropdown-button"
          aria-haspopup="menu"
          aria-controls="misc-dropdown"
          aria-label="Open group options dropdown"
          data-action="dropdown#toggle click@window->dropdown#hide"
          data-dropdown-target="toggleButton"
          class="relative inline-flex items-center rounded-lg text-center text-sm font-medium focus:ring-4
              focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800"
          type="button">
    <%= inline_svg_tag "icons/chevron-down.svg", aria_hidden: true %>
  </button>


  <div id="misc-dropdown" data-dropdown-target="menu" class="absolute left-full z-40 hidden w-48
      -translate-x-full transform rounded-lg bg-slate-100 shadow transition divide-y
      divide-gray-100 dark:bg-gray-700"
       data-transition-enter-from="opacity-0 scale-95"
       data-transition-enter-to="opacity-100 scale-100"
       data-transition-leave-from="opacity-100 scale-100"
       data-transition-leave-to="opacity-0 scale-95">
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="<%= group.name %>-group-misc-dropdown-button">
      <li class="flex hover:border-gray-600 dark:hover:border-gray-500 hover:bg-gray-200 dark:hover:bg-gray-600">
        <%= link_to group_game_proposals_path(group), title: "View Game Proposals", class: "flex items-center px-2 py-1 w-full",
                    data: { action: "dropdown#toggle" } do %>
          <%= inline_svg_tag "icons/rectangle_stack.svg" %>
          <span class="ml-2">View Game Proposals</span>
        <% end %>
      </li>

      <li class="flex hover:border-gray-600 dark:hover:border-gray-300 hover:bg-gray-200 dark:hover:bg-gray-600">
        <%= link_to group_invites_path(group), title: "View Invites",
                    class: "flex h-fit w-full items-center px-2 py-1",
                    data: { action: "dropdown#toggle" } do %>
          <%= inline_svg_tag "icons/envelope.svg" %>
          <span class="ml-2">View Invites</span>
        <% end %>
      </li>

      <li class="flex hover:border-gray-600 dark:hover:border-gray-300 hover:bg-gray-200 dark:hover:bg-gray-600">
        <% if group_availability.present? %>
          <%= link_to edit_group_availability_path(group_availability), title: "Change your group availability",
                      class: "flex h-fit w-full items-center px-2 py-1" do %>

            <%= inline_svg_tag "icons/calendar.svg" %>
            <span class="ml-2">Edit Group Availability</span>

      <% end %>
        <% else %>
          <%= link_to new_group_group_availability_path(group), title: "Change your group availability",
                      class: "flex h-fit w-full items-center px-2 py-1" do %>

      <% if policy(group).transfer_ownership? && group.associated_users_without_owner.any? %>
        <% transfer_button_content = capture do %>
          <button type="button"
                  aria-haspopup="dialog"
                  data-action="dialog#open"
                  class="flex w-full items-center px-2 py-1 text-notice-400">
            <%= inline_svg_tag "icons/transfer.svg" %>
            <span class="ml-2"><%= t("ownership.transfer") %></span>
          </button>
        <% end %>

        <%= render "shared/transfer_ownership_modal",
                   button_content: transfer_button_content,
                   resource_title: group.name,
                   container_tag: :li,
                   container_classes:"flex hover:bg-gray-200 dark:hover:bg-gray-600 w-full hover:border-gray-600
                    dark:hover:border-gray-300 ",
                   form_partial:"ownerships/transfer_form",
                   resource: group %>
      <% end %>

      <% if policy(group).destroy? %>
        <% delete_button_content = capture do %>
          <button type="button"
                  aria-haspopup="dialog"
                  data-action="dialog#open"
                  class="flex w-full items-center px-2 py-1 text-notice-400">
            <%= inline_svg_tag "icons/trash.svg" %>
            <span class="ml-2"><%= t("group.destroy.title") %></span>
          </button>
        <% end %>

        <%= render "shared/delete_modal",
                   button_content: delete_button_content,
                   resource_title: group.name,
                   container_tag: :li,
                   container_classes:"flex hover:bg-gray-200 dark:hover:bg-gray-600 w-full hover:border-gray-600
                    dark:hover:border-gray-300 ",
                   form_partial:"groups/delete_form",
                   resource: group %>
      <% end %>
    </ul>
  </div>
</div>