<%# locals: (group:, can_invite: false, can_propose: false, group_availability: nil, group_permission_set: nil) %>
<div class="flex align-top space-x-1">

  <%= render "new_dropdown_button", group: group, can_invite: can_invite, can_propose: can_propose if can_invite || can_propose %>

  <% if group_permission_set.present? && group_permission_set_policy(group_permission_set).edit? %>
    <%= render partial: "permission_sets/edit_button", locals: { permission_set: group_permission_set } %>
  <% end %>

  <% if group_availability.present? %>
    <%= link_to edit_group_availability_path(group_availability), title: "Change your group availability", class: "flex h-fit" do %>
      <%= inline_svg_tag "icons/calendar.svg" %>
    <% end %>
  <% else %>
    <%= link_to new_group_group_availability_path(group), title: "Change your group availability", class: "flex h-fit" do %>
      <%= inline_svg_tag "icons/calendar.svg" %>
    <% end %>
  <% end %>

  <%= render "misc_dropdown_button", group: group %>
</div>