<%= turbo_stream.append "groups" do %>
  <div class="group-container relative flex" id="<%= @group.id %>_container">
    <%= render @group, group_availability: @group.get_user_group_availability(Current.user), group_permission_set: @group_permission_set %>
    <%= render "groups/card_link", group: @group %>
  </div>
<% end %>

<%= turbo_stream.update "modal_frame", "" %>

<%= turbo_stream_toast(:success,
                       I18n.t("group.create.success", name: @group.name),
                       "group_#{@group.id}",
                       highlight: " #{@group.name} ") %>