<section>
  <div class="flex justify-between mb-4">
    <div>
      <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
        Groups
      </h1>
    </div>
    <div class="flex space-x-2">
      <%= render "shared/buttons/primary_link",
                 path: new_group_path,
                 text: "New Group",
                 attributes: {'aria-haspopup': true},
                 data: { turbo_frame: "modal_frame" } %>
      <%= render "shared/buttons/secondary_link",
                 path: join_group_path,
                 text: "Join Group" %>
    </div>
  </div>

  <%= render 'shared/notification', id: "groups" %>

  <div id="groups" class="relative space-y-4">
    <% @groups.each do |group| %>
      <div class="group-container relative flex" id="group_<%= group.id %>_container">
        <%= render group,
                   group_availability:   group.get_user_group_availability(Current.user),
                   group_permission_set: group.make_permission_set(group.users.to_a) %>
        <%= render "groups/card_link", group: group %>
      </div>
    <% end %>
  </div>
</section>
