<%# locals: (groups: []) %>
<section>
  <div class="flex justify-between mb-4">
    <div class="flex space-x-2">
      <%= render "shared/buttons/secondary_link",
                 path: new_group_path,
                 text: t("group.new.title"),
                 attributes: {'aria-haspopup': true},
                 data: { turbo_frame: "modal_frame" } %>
      <%= render "shared/buttons/primary_link",
                 path: join_group_path,
                 text: t("group.join.title") %>
    </div>
  </div>


  <%= turbo_frame_tag "groups", data: {src: groups_path}, class:"relative space-y-4 mb-4" do %>
    <%= render 'shared/notification', id: "groups" %>
    <% groups.each do |group| %>
      <div class="group-container relative flex" id="group_<%= group.id %>_container">
        <%= render group,
                   group_availability:   group.get_user_group_availability(Current.user),
                   group_permission_set: group.make_permission_set(group.users.to_a) %>
        <%= render "groups/card_link", group: group %>
      </div>
    <% end %>
    <%= render "shared/table_nav" %>
  <% end %>
</section>
<% content_for(:page_title, t("group.title")) %>