<%= render "shared/header_primary", extra_classes: "text-center" do %>
  <%= t("group.new.title") %>
<% end %>
<%= modal_wrapper("New Group") do %>
  <%= render "form", group: @group %>
<% end %>

<br>

<div>
  <%= link_to "Back to groups", groups_path %>
</div>
<% content_for(:page_title, t("group.title")) %>