<%# locals: (group:, group_membership:nil, group_availability: nil, group_permission_set:) %>
<%= render "shared/notification", id: "group_#{group.id}" %>
<%= render group,
           group_availability: group_availability,
           group_permission_set: group_permission_set %>

<div>
  <%= content_tag :div, class:"mt-2" do %>
    <%= render "shared/buttons/delete_button",
               resource: group_membership,
               text: t("group_membership.destroy.self.button_text"),
               confirm_text: t("group_membership.destroy.confirm", group_name: group.name) %>
  <% end unless policy(group).edit? %>
</div>

<div data-controller="calendar" data-calendar-interactive-value="true" data-calendar-dialog-outlet=".dialog" data-calendar-flatpickr-outlet=".flatpickr" data-calendar-group-id="<%= group.id %>" data-turbo-permanent>
  <%= render partial: 'calendars/calendar' %>
</div>
<% content_for(:page_title, t("group.title")) %>