<%# locals: (group:, group_membership:nil, group_availability: nil, group_permission_set:) %>
<%= render "shared/notification", id: "group_#{group.id}" %>
<%= render group,
           group_availability: group_availability,
           group_permission_set: group_permission_set %>

<div>
  <% if Current.user.has_cached_role?(:site_admin) && !group_membership.present? %>
    <%= form_with(url: group_group_memberships_path(group), scope: :group_membership, method: :post) do |form| %>
      <%= form.hidden_field :user_id, value: Current.user.id %>
      <%= form.hidden_field :invite_token, value: "admin" %>
      <%= render "shared/buttons/form_submit_button", form: form, text: "Join Group", extra_classes: "mt-2" %>
    <% end %>
  <% end %>
  <div class="mt-2">
    <%= render "shared/buttons/delete_button",
               resource: group_membership,
               text: "Leave this group",
               confirm_text: "Are you sure you want to leave #{group.name}?" unless Current.user.has_cached_role?(:owner, group) || !group_membership.present? %>
  </div>
</div>

<div data-controller="calendar" data-calendar-interactive-value="true" data-calendar-dialog-outlet=".dialog" data-calendar-flatpickr-outlet=".flatpickr" data-calendar-group-id="<%= group.id %>" data-turbo-permanent>
  <%= render partial: 'calendars/calendar' %>
</div>