<p style="color: green"><%= notice %></p>

<%= form_with(model: Current.user, method: :patch) do |form| %>
  <div>
    <%= form.label :avatar, style: "display:block", class: "text-2xl block mb-2 font-medium text-gray-900 dark:text-white" %>
    <%= user_avatar(Current.user, size_x: 64) %>
    <%= form.file_field :avatar, accept: "image/jpeg,image/png,image/gif" %>
    <br>
    <%= form.submit "Update avatar" %>
  </div>
<% end %>
<%= form_with(model: Current.user, method: :patch) do |form| %>
  <div>
    <%= form.hidden_field :avatar, value: "" %>
    <%= form.submit "Remove avatar" %>
  </div>
<% end %>
<div>
  <%= link_to "See Schedules", schedules_path %>
  <%= link_to "See availabilities", availabilities_path %>
  <%= link_to "Set default availability", edit_user_availability_path %>
</div>

<div>
  <%= link_to "Change password", edit_password_path %>
</div>

<div>
  <%= link_to "Change email address", edit_identity_email_path %>
</div>

<h2>Access history</h2>

<div>
  <%= link_to "Devices & Sessions", sessions_path %>
</div>

<br>

<div>
  <%= link_to "Change password", edit_password_path %>
</div>

<div>
  <%= link_to "Change email address", edit_identity_email_path %>
</div>

<h2 class="text-4xl">Access history</h2>

<div>
  <%= link_to "Devices & Sessions", sessions_path %>
</div>

<br>


<%= button_to "Sign out", Current.session, method: :delete %>
