<%= form_with(model: Current.user, method: :patch) do |form| %>
  <%= render "shared/notification", id: "user_#{Current.user.id}" %>
  <div>
    <%= form.label :avatar, style: "display:block", class: "text-2xl block mb-2 font-medium text-gray-900 dark:text-white" %>
    <%= user_avatar(Current.user, size_x: 64) %>
    <%= form.file_field :avatar, id:"user_avatar_input", accept: "image/jpeg,image/png,image/gif", class: "mt-2" %>
    <br>
    <%= render "shared/buttons/form_submit_button", form: form, text: "Update Avatar", extra_classes: "mt-2 me-2 mb-2"  %>
  </div>
<% end %>
<%= form_with(model: Current.user, method: :patch) do |form| %>
  <div>
    <%= form.hidden_field :avatar, value: "" %>
    <%= render "shared/buttons/form_danger_submit_button", form: form, text: "Remove Avatar"%>
  </div>
<% end %>
<div class="my-4">
  <%= render "shared/buttons/secondary_link", path: edit_user_availability_path, text: "Set Default Availability" %>
</div>

<div class="mt-8">
  <h2 class="text-4xl mb-4">Security</h2>

  <div class="flex space-x-4">
    <%= render "shared/buttons/secondary_link", path: edit_password_path, text: "Change Password" %>
    <%= render "shared/buttons/secondary_link", path: edit_identity_email_path, text: "Change email address" %>
  </div>
</div>

<div class="mt-8">
  <h2 class="text-4xl mb-4">Access history</h2>

  <div class="flex space-x-4">
    <%= render "shared/buttons/secondary_link", path: sessions_path, text: "Devices & Sessions" %>
    <%= render "shared/buttons/delete_button", resource: Current.session, text: "Sign out", confirm: false %>
  </div>
</div>