<%= turbo_frame_tag "user_show_#{@user.id}" do %>

  <p style="color: green"><%= notice %></p>

  <%= render @user %>

  <% if @group.present? %>
    <%= turbo_frame_tag "user_roles_#{@user.id}_#{@group.id}" do %>
      <% if @roles.present? %>
        <strong class="text-xl font-bold dark:text-white">Roles:</strong>
        <%= render @roles %>
      <% else %>
        <p>No roles found</p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
