<%= form_with(model: [game_proposal, game_session], id: dom_id(game_session, :form), data: {controller:"proposal-selection", proposal_selection_target:"form", refresh_calendar_on_submit:""}) do |form| %>
  <% if game_session.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game_session.errors.count, "error") %> prohibited this game_session from being saved:</h2>

      <ul>
        <% game_session.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= display_game_art_and_name(game: game_session.game, only_art: true) if game_session.game.present? %>
    <% if !local_assigns[:game_proposals].present? || !local_assigns[:game_session].new_record? %>
      <%= form.hidden_field :game_proposal_id, value: local_assigns[:initial_game_proposal].id %>
    <% else %>
      <%= form.label :game_proposal_id, style: "display: block" %>
      <% if local_assigns[:groups] && local_assigns[:groups].length > 1 %>
        <%= form.grouped_collection_select :game_proposal_id,
                                         local_assigns[:groups].reject { |group| group.game_proposals.empty? },
                                         :game_proposals,
                                         :name,
                                         :id,
                                         :game_name,
                                         {selected: local_assigns[:initial_game_proposal].id},
                                         data: { proposal_selection_target:"collectionSelect" } %>
      <% else %>
        <%= form.collection_select :game_proposal_id,
                             game_proposals,
                             :id,
                             :game_name,
                             {selected: local_assigns[:initial_game_proposal].id}, data: { proposal_selection_target:"collectionSelect" } %>
      <% end %>
    <% end %>
  </div>

  <%= turbo_frame_tag "game_session_form_fields", data: {proposal_selection_target:"formFrame"} do %>
    <% if policy(game_session).create? %>
      <div data-controller="flatpickr" class="flatpickr" data-flatpickr-timezone-value="<%= Current.user.timezone %>">
        <%= form.label :date, class: "block" %>
        <%= form.datetime_field :date, data: { flatpickr_target: "startDate" }, required: true, value: game_session.date&.in_time_zone(Current.user.timezone) %>
      </div>

      <div class="flex items-center">
        <%= form.label :duration, "Duration:", class:"items-center mr-2" %>
        <div class="flex flex-col items-center">
          <%= form.label :duration_hours, "Hours", class: "block" %>
          <%= form.number_field :duration_hours, min:0, required: true, value: (game_session.duration&.parts[:hours] || 1), class: "w-16 p-1 text-center" %>
        </div>
        <div class="mx-2 text-4xl h-5 font-bold leading-7">:</div>
        <div class="flex flex-col items-center">
          <%= form.label :duration_minutes, "Minutes", class: "block" %>
          <%= form.number_field :duration_minutes, min: 0, max: 59, required: true, value: (game_session.duration&.parts[:minutes] || 0), class: "w-16 p-1 text-center" %>
        </div>
      </div>

      <div>
        <% if turbo_frame_request_id.present? %>
          <%= form.submit data: { turbo_submits_with: "Saving..." } %>
        <% else %>
          <%= form.submit data: { turbo: false } %>
        <% end %>
      </div>
    <% else %>
      <div>
        You don't have permission to create game sessions for <%= game_session.game_proposal.game_name %>
      </div>
    <% end %>
  <% end %>

  <p style="color: green"><%= local_assigns[:notice] %></p>

<% end %>