<%# locals: (game_session:, include_link: false, include_group: true) %>
<%= turbo_frame_tag dom_id(game_session),
                    role: "presentation",
                    class:"flex" do %>
  <article role="presentation"
           class="flex w-full flex-col items-center rounded-lg border bg-white border-gray-200 shadow game-display
            xs:flex-row xs:max-w-xl dark:border-gray-700 dark:bg-gray-800">
    <%= display_game_art_and_name(game: game_session.game,
                                  only_art: true,
                                  img_classes: "object-cover rounded-lg md:h-auto md:rounded-none mt-4 md:mt-0
                                      md:rounded-s-lg w-24 h-16 ml-2",
                                  img_size: GameImageSize::LOGO_MED) %>

    <div class="flex flex-col justify-between p-4 leading-normal">
      <div class="flex">

        <h3 class="mb-2 text-lg font-semibold tracking-tight text-gray-900 game-name dark:text-white">
          <%= game_session.game_name %>
        </h3>

        <% if policy(game_session).destroy? %>
            <%= render "shared/delete_modal",
                       resource: game_session,
                       resource_title: game_session.game_name,
                       form_partial: "game_sessions/delete_form",
                       ignore_success: true %>
        <% end %>

      </div>
      <div class="game_session_<%= game_session.id %>_details space-y-1.5">
        <% if include_group %>
          <div class="mb-3 flex items-center gap-2 text-sm" role="presentation">
            <%= inline_svg "icons/group.svg", title: "Group", aria_hidden: true, class: "h-6 w-6" %>
              <%= link_to "#{game_session.game_proposal.group.name}",
                          group_path(game_session.game_proposal.group),
                          title: "Go to group: #{game_session.game_proposal.group.name}",
                          data: {turbo_frame: "_top"},
                          'aria-label': "Go to group: #{game_session.game_proposal.group.name}",
                          class:"game-name font-semibold text-primary-950 dark:text-white underline
             decoration-2 hover:decoration-4 decoration-secondary-500 dark:decoration-secondary-200" %>
          </div>
        <% end %>
        <div class="mb-3 flex items-center gap-2 text-sm text-gray-700 dark:text-gray-400" role="presentation">

          <%= inline_svg_tag "icons/calendar.svg", title: "Date", aria_hidden: true, class:"h-6" %>
          <div id="game_session_<%= game_session.id %>_details_date" role="presentation">
            <%= render "game_sessions/game_session_date", game_session: game_session %>
          </div>

          <% if policy(game_session).edit? %>
            <%= render "shared/buttons/icon_link",
                       svg_name: "edit",
                       title: "Edit Game Session for #{game_session.game_name} in #{game_session.group_name}",
                       path: edit_game_session_path(game_session),
                       data: {turbo_frame: "modal_frame", turbo_prefetch: "false", action: "click->dialog#startLoading"},
                          extra_classes: "align-top ml-2 text-secondary-500 hover:text-secondary-400 dark:text-secondary-200
                            dark:hover:text-secondary-100" %>
          <% end %>

        </div>

        <div class="flex flex-wrap items-center gap-2 text-sm text-gray-700 dark:text-gray-400" role="presentation">
          <%= inline_svg_tag "icons/clock.svg", title: "Duration", aria_hidden: true, class:"h-6" %>
          <div id="game_session_<%= game_session.id %>_details_duration" role="presentation">
            <span class="sr-only">Session Duration: </span>
            <%= format_interval(game_session.duration) %>
          </div>
        </div>
      </div>
      <div class="game_session_<%= game_session.id %>_attendance_details mt-2 flex flex-col gap-2">
        <div class="flex flex-wrap items-center gap-2 text-sm text-gray-700 dark:text-gray-400">
          <%= render "game_session_attendances/full_game_session_attendance_button", game_session: game_session %>

          <% if include_link %>
            <%= render "shared/buttons/icon_link",
                       svg_name: "edit",
                       path: game_session_path(game_session),
                       title: "Edit attendance for #{game_session.game_name} in #{game_session.group_name}",
                       data: {turbo_frame: "modal_frame"},
                       extra_classes: "align-top ml-2 text-secondary-500 hover:text-secondary-400 dark:text-secondary-200
                            dark:hover:text-secondary-100" %>
          <% end %>

        </div>
        <%= render "game_session_attendances/game_session_attendance_list", game_session: game_session %>
      </div>
    </div>
  </article>
<% end %>
<%= turbo_stream_from(game_session, data: {single_stream_target: "stream"}, 'aria-hidden': true) %>