<%# locals: (game_session:, container_tag: :div) %>
<div class="game_session_<%= game_session.id %>_details flex w-full items-center justify-between mr-2 mb-2 lg:mb-0">
  <%= link_to game_session,
              id: dom_id(game_session, :link),
              data: {turbo_frame: "modal_frame"},
              title: t("game_session.show.button_title",
                       game_name: game_session.game_name,
                       group_name: game_session.group_name),
              class: "after:absolute after:top-0 after:bottom-0 after:left-0 after:right-0 space-y-2 justify-between" do %>
    <div class="flex space-x-2">
      <%= inline_svg_tag "icons/calendar.svg", title: "Date", aria_hidden: true, class:"h-6" %>

      <span class="game_session_<%= game_session.id %>_details_date">
        <%= render "game_sessions/game_session_date", game_session: game_session %>
      </span>
    </div>
    <div class="flex space-x-2">
      <%= inline_svg_tag "icons/clock.svg", title: "Duration", aria_hidden: true, class:"h-6" %>
      <%= render "game_sessions/game_session_duration", game_session: game_session %>
    </div>
  <% end %>

</div>

<div class="flex items-center lg:basis-2/3 space-x-2">
  <%= inline_svg("icons/votes.svg", aria_hidden: true) %>

  <div class="game_session_<%= game_session.id %>_attendance_details contents">
    <%= render "game_session_attendances/game_session_attendance_list", game_session: game_session, limit: 10 %>
  </div>
</div>
<%= turbo_stream_from(game_session, data: {single_stream_target: "stream"})%>