<%= turbo_frame_tag dom_id(game_session), class:"flex" do %>
  <div data-turbo-frame="modal_frame" class="flex w-full flex-col
  items-center rounded-lg border bg-white border-gray-200 shadow game-display xs:flex-row xs:max-w-xl
  dark:border-gray-700 dark:bg-gray-800">
    <%=image_tag(game_session.game.cover_image_url,
      alt: game_session.game.name,
      class: "game-art object-cover rounded-lg xs:h-auto xs:rounded-none mt-4 xs:mt-0 xs:rounded-s-lg w-24 h-16 ml-2",
      id: dom_id(game_session.game, :art),
      data: {proposal_selection_target: "gameArt"},) %>

    <div class="flex flex-col justify-between p-4 leading-normal">
      <div class="flex">

        <% if local_assigns[:include_link].present? && local_assigns[:include_link] %>
          <h5 class="mb-2 text-lg font-semibold tracking-tight text-gray-900 game-name dark:text-white underline
           decoration-2 hover:decoration-4 decoration-secondary-500 dark:decoration-secondary-200">
            <%= link_to game_session.game_name, game_session, data: {turbo_frame: "modal_frame"} %>
          </h5>
        <% else %>
          <h5 class="mb-2 text-lg font-semibold tracking-tight text-gray-900 game-name dark:text-white">
            <%= game_session.game_name %>
          </h5>
        <% end %>

        <% if policy(game_session).destroy? %>
            <%= render "shared/delete_dialog", resource: game_session, form_partial: "game_sessions/delete_form", ignore_success: true %>
        <% end %>

      </div>
      <div id="game_session_<%= game_session.id %>_details" class="space-y-1.5">
        <div class="mb-3 flex items-center gap-2 text-sm text-gray-700 dark:text-gray-400">

          <%= inline_svg_tag "icons/calendar.svg", class:"h-6" %>
          <div id="game_session_<%= game_session.id %>_details_date">
            <%= render "game_sessions/game_session_date", game_session: game_session %>
          </div>

          <% if policy(game_session).edit? %>
            <%= render "shared/buttons/icon_link", svg_name: "edit", path: edit_game_session_path(game_session),
                          data: {turbo_frame: "modal_frame", turbo_prefetch: "false"},
                          extra_classes: "align-top ml-2" %>
          <% end %>

        </div>

        <div class="flex flex-wrap items-center gap-2 text-sm text-gray-700 dark:text-gray-400">
          <%= inline_svg_tag "icons/clock.svg", class:"h-6" %>
          <div id="game_session_<%= game_session.id %>_details_duration">
            <%= format_interval(game_session.duration) %>
          </div>
        </div>
      </div>
      <div id="game_session_<%= game_session.id %>_attendance_details" class="flex flex-col gap-2">
        <div class="flex flex-wrap items-center gap-2 text-sm text-gray-700 dark:text-gray-400">
          <%= render "game_session_attendances/full_game_session_attendance_button", game_session: game_session %>
        </div>
        <%= render "game_session_attendances/game_session_attendance_list", game_session: game_session %>
      </div>
    </div>
  </div>
<% end %>
<%= turbo_stream_from game_session %>
