<div id="<%= dom_id game_session %>">

  <div>
    <%= display_game_art_and_name(game_session.game) %>
  </div>

  <p>
    <strong>Owner:</strong>
    <%= game_session.user_id %>
  </p>

  <p>
    <strong>Proposal:</strong>
    <%= game_session.game_proposal_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= game_session.date %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= game_session.duration %>
  </p>

</div>