<div id="<%= dom_id game_session %>">
  <p>
    <strong>Group:</strong>
    <%= game_session.group_id %>
  </p>

  <p>
    <strong>Proposal:</strong>
    <%= game_session.proposal_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= game_session.date %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= game_session.duration %>
  </p>

</div>
