<%= turbo_stream.remove_all(".game_session_#{@game_session.id}_attendance_details") %>

<%= turbo_stream.update("modal_frame") %>

<%= turbo_stream.remove_all("modal_confirmation_game_session_#{@game_session.id}") %>

<%= turbo_stream.replace_all(".game_session_#{@game_session.id}_details",
                         html: raw("<p>Game Session Deleted</p>")) %>

<%= turbo_stream_toast(:success,
                       I18n.t("game_session.destroy.success", name: @game_session.game_name),
                       "game_session_#{@game_session.id}",
                       highlight: " #{@game_session.game_name} ") %>

