<h1>Editing game session</h1>

<%= modal_wrapper(local_assigns[:original_name] || @game_session.game_name) do %>
  <%= render "form", game_session:@game_session, game_proposal:nil %>

  <br>

  <div>
    <%= link_to "Cancel", "#", data: {action: "click->dialog#close", turbo: "false"} %>
  </div>

<% end %>

<br>

<div>
  <%= link_to "Show this game session", @game_session %> |
  <%= link_to "Back to game sessions", game_sessions_path %>
</div>
