<%# locals: (game_session:, groups:nil) %>
<%= render "shared/header_primary", extra_classes: "text-center" do %>
  <%= t("game_session.edit.title",
        game_name: content_tag(:span, game_session.game_name, class: 'font-bold text-primary-600'),
        group_name: content_tag(:span, game_session.group_name, class: 'font-bold text-primary-600')).html_safe %>
<% end %>

<%= modal_wrapper("Edit #{game_session.group_name} - #{game_session.game_name}") do %>
  <%= content_tag(:div, id:dom_id(game_session, :content)) do %>
    <%= render "form", game_session: game_session %>
  <% end %>
<% end %>

<div>
  <%= render "shared/buttons/secondary_link", path: game_sessions_path, text: "Back to Game Sessions" %>
</div>
<% content_for(:page_title, t("game_session.title")) %>
