<h1>Editing game session</h1>

<%= modal_wrapper(local_assigns[:original_name] || game_session.game_name) do %>
  <%= content_tag(:div, id:dom_id(local_assigns[:game_session], :content)) do %>

    <%= render "form", game_session: game_session, game_proposal: nil, initial_game_proposal: game_session.game_proposal, groups: local_assigns[:groups] %>

    <br>

    <div>
      <%= link_to "Cancel", "#", data: {action: "click->dialog#close", turbo: "false"} %>
    </div>

  <% end %>
<% end %>

<br>

<div>
  <%= link_to "Show this game session", game_session %> |
  <%= link_to "Back to game sessions", game_sessions_path %>
</div>
