<h1>Game sessions<%= " for #{@game_proposal.game_name} in #{@game_proposal.group.name}" if @game_proposal.present? %></h1>
<%= turbo_frame_tag "game_sessions", data: {src: @game_proposal.present? ? game_proposal_game_sessions_path(@game_proposal) : game_sessions_path} do %>
  <div class="w-fit">
   <%= render @game_sessions, include_link: true %>
   <% unless @game_sessions.present? %>
     <p>
       No game sessions have been scheduled yet.
     </p>
   <% end %>
  </div>
  <%= render "shared/table_nav" %>
<% end %>
<% stream_id = @game_proposal.present? ? "game_proposal_#{@game_proposal.id}" : "user_#{Current.user.id}" %>
<% type = @game_proposal.present? ? "data-calendar-game-proposal-id=#{@game_proposal.id}" : "data-calendar-user-id=#{Current.user.id}"  %>
<div data-controller="calendar"
     data-calendar-stream-id="<%= stream_id %>"
     data-calendar-toggles-start-off="availability"
     data-calendar-dialog-outlet=".dialog"
     data-calendar-flatpickr-outlet=".flatpickr"
     <%= type %>
     data-calendar-exclude-availabilities="">
  <%= render partial: 'calendars/calendar' %>
</div>
