<%# locals: (game_sessions:, game_proposal: nil) %>
<% if game_proposal.present? %>
  <%= render "upcoming_game_sessions",
             slim: true,
             upcoming_game_sessions: game_sessions,
             game_proposal: game_proposal,
             group_id: game_proposal.group.id,
             src: game_proposal_game_sessions_path(game_proposal) %>
<% else %>
  <%= render "upcoming_game_sessions", upcoming_game_sessions: game_sessions, src: game_sessions_path %>
<% end %>
<%= render "shared/buttons/secondary_icon_link_thick",
           path: new_game_proposal_game_session_path(game_proposal: game_proposal),
           text: t("game_session.new.button_text"),
           data: {turbo_frame: "modal_frame"} if game_proposal.present? && policy(game_proposal).create_game_session? %>

<% stream_id = game_proposal.present? ? "game_proposal_#{game_proposal.id}" : "user_#{Current.user.id}" %>
<% type = game_proposal.present? ? "data-calendar-game-proposal-id=#{game_proposal.id}" : "data-calendar-user-id=#{Current.user.id}"  %>
<div data-controller="calendar"
     data-calendar-stream-id-value="<%= stream_id %>"
     data-calendar-dialog-outlet=".dialog"
     data-calendar-flatpickr-outlet=".flatpickr"
     <%= type %>
     data-calendar-exclude-availabilities="">
  <%= render partial: 'calendars/calendar' %>
</div>
<%= content_for(:page_title, t("game_session.title")) %>