<%# locals: (game_session:) %>
<%= render "shared/header_primary", extra_classes: "text-center" do %>
  <%= t("game_session.new.title",
        game_name: content_tag(:span, game_session.game_name, class: 'font-bold text-primary-600'),
        group_name: content_tag(:span, game_session.group_name, class: 'font-bold text-primary-600')).html_safe %>
<% end %>

<%= modal_wrapper(game_session.game_name) do %>
  <%= content_tag(:div, id:dom_id(game_session, :content)) do %>
    <%= render "form",
               game_session: game_session,
               initial_game_proposal: game_session.game_proposal %>
  <% end %>
<% end %>

<div>
  <%= link_to "Back to game proposal", @game_session.game_proposal %>
</div>
<% content_for(:page_title, t("game_session.title")) %>
