<%# locals: (game_session:, game_proposals: nil) %>
<%= render "shared/header_primary",
           text: safe_join(["New ",
                            content_tag(:span, @game_session.game_name, class: "font-bold text-primary-600"),
                            " session in ",
                           content_tag(:span, @game_session.group.name, class: "font-bold text-primary-600")]),
           extra_classes: "text-center" %>

<%= modal_wrapper(game_session.game_name) do %>
  <%= content_tag(:div, id:dom_id(game_session, :content)) do %>
    <%= render "form", game_session: game_session,
               game_proposal: game_session.game_proposal,
               initial_game_proposal: game_session.game_proposal,
               game_proposals: game_proposals %>
  <% end %>
<% end %>

<div>
  <%= link_to "Back to game sessions", game_sessions_path %>
</div>
