<%= form_with(model: schedule, id: dom_id(schedule, :form),
              data: { controller: "rails-nested-form",
                      rails_nested_form_wrapper_selector_value: '.nested-form-wrapper',
                      refresh_calendar_on_submit:"" }) do |form| %>
  <%= render 'shared/notification', id: schedule.new_record? ? "schedule_new" : "schedule_#{schedule.id}"  %>

  <div class="dark:bg-gray-800 p-4 rounded-lg">
    <div>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.hidden_field :user_id, value: Current.user.id %>
    </div>

    <div data-controller="mutually-exclusive-select" data-mutually-exclusive-select-rails-nested-form-outlet="#<%=dom_id(schedule, :form)%>">
      Include in availability
      <%= form.fields_for :availability_schedules do |availability_schedule_subform| %>
        <%= render "schedules/availability_schedule_form", form: availability_schedule_subform %>
      <% end %>

      <div data-rails-nested-form-target="target">
      </div>

      <%= render "shared/buttons/accent_button", text:"Add Availability",
                        data: {action:"mutually-exclusive-select#cacheSelections rails-nested-form#add",
                               mutually_exclusive_select_target:"addButton"} %>
    </div>

    <div>
      <%= form.label :description, style: "display: block" %>
      <%= form.text_area :description %>
    </div>

    <template data-rails-nested-form-target="template">
      <%= form.fields_for :availability_schedules, schedule.availability_schedules.build, child_index: "NEW_RECORD" do |availability_schedule_subform| %>
        <%= render "schedules/availability_schedule_form", form: availability_schedule_subform %>
      <% end %>
    </template>
    <div class="flatpickr" data-controller="flatpickr" data-flatpickr-timezone-value="<%= Current.user.timezone %>">
      <%= form.label :start_time, "Starting on", class: "block" %>
      <%= form.datetime_field :start_time, data: { flatpickr_target: "startDate"}, value: schedule.start_time&.in_time_zone(Current.user.timezone) %>
    </div>

    <%= content_tag :div, class:"flex items-center" do %>
      <%= form.label :duration, "Duration:", class:"mr-2" %>
      <div class="flex flex-col items-center">
        <%= form.label :duration_days, "Days", class: "block" %>
        <%= form.number_field :duration_days, min:0, max:30, required: true,
                              value: (schedule.duration&.parts&.[](:days) || 0),
                              class: "w-16 h-8 p-1 text-center" %>
      </div>
      <div class="flex flex-col items-center">
        <%= form.label :duration_hours, "Hours", class: "block" %>
        <%= form.number_field :duration_hours, min:0, max:23, required: true,
                              value: (schedule.duration&.parts&.[](:hours) || schedule.new_record? ? 1 : 0),
                              class: "w-16 h-8 p-1 text-center" %>
      </div>
      <div class="mx-2 text-4xl translate-y-2 font-bold leading-7">:</div>
      <div class="flex flex-col items-center">
        <%= form.label :duration_minutes, "Minutes", class: "block" %>
        <%= form.select :duration_minutes,
                        options_for_select((0..3).map { |i| [i * 15, i * 15] },
                        selected: (schedule.duration&.parts&.[](:minutes) || 0)),
                        {},
                        class: "w-16 h-8 p-1 text-center" %>
      </div>
    <% end %>

    <div data-controller="schedule-summary-watcher">
      <%= form.label :schedule_pattern, "Occurs", class: "block" %>
      <%= form.select_recurring :schedule_pattern, nil, allow_blank: true, initialize_flatpickr: true, static:true %>
      <%= form.hidden_field :frequency, data: {schedule_summary_watcher_target: "frequencyInput"} %>
    </div>

    <div>
      <%= render "shared/buttons/form_submit_button", form: form, text: "Save Schedule", data: { turbo_submits_with: "Saving..." }, extra_classes: "mt-2 me-2 mb-2" %>
    </div>

  </div>
<% end %>
