<%= form_with(model: schedule, id: dom_id(schedule, :form),
              data: { controller: "rails-nested-form",
                      rails_nested_form_wrapper_selector_value: '.nested-form-wrapper',
                      refresh_calendar_on_submit:"" },
              class: "flex flex-col align-items-center") do |form| %>
  <%= render 'shared/notification', id: schedule.new_record? ? "schedule_new" : "schedule_#{schedule.id}"  %>

  <div class="flex w-fit flex-col items-center self-center rounded-lg p-4 space-y-2 dark:bg-gray-800">
    <div>
      <%= render "shared/form_label", form: form, field: :name, extra_classes: "block" %>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.hidden_field :user_id, value: Current.user.id %>
    </div>

    <div data-controller="mutually-exclusive-select"
         data-mutually-exclusive-select-rails-nested-form-outlet="#<%=dom_id(schedule, :form) %>",
         class="ml-2" %>
      <%= render "shared/form_label", form: form, field: :availability_schedule, text: "Include in availabilities" %>
      <%= form.fields_for :availability_schedules do |availability_schedule_subform| %>
        <%= render "schedules/availability_schedule_form", form: availability_schedule_subform %>
      <% end %>

      <div data-rails-nested-form-target="target">
      </div>

      <%= render "shared/buttons/accent_button", text:"Add Availability", extra_classes: "mt-2",
                        data: {action:"rails-nested-form#add",
                               mutually_exclusive_select_target:"addButton"} %>
    </div>

    <template data-rails-nested-form-target="template">
      <%= form.fields_for :availability_schedules, schedule.availability_schedules.build, child_index: "NEW_RECORD" do |availability_schedule_subform| %>
        <%= render "schedules/availability_schedule_form", form: availability_schedule_subform %>
      <% end %>
    </template>

    <div>
      <%= render "shared/form_label", form: form, field: :description, extra_classes: "block" %>
      <%= form.text_area :description %>
    </div>

    <div class="flatpickr" data-controller="flatpickr" data-flatpickr-timezone-value="<%= Current.user.timezone %>">
      <%= render "shared/form_label", form: form, field: :start_time, text: "Starting on", extra_classes: "block" %>
      <%= form.datetime_field :start_time, data: { flatpickr_target: "startDate"}, value: schedule.start_time&.in_time_zone(Current.user.timezone) %>
    </div>

    <div class="flex flex-col">
      <%= render "shared/form_label", form: form, field: :duration, extra_classes: "mr-2 block" %>
      <div class="flex flex-row">
        <div class="flex flex-col items-center">
          <%= form.number_field :duration_days, min:0, max:30, required: true,
                                value: (schedule.duration&.parts&.[](:days) || 0),
                                class: "w-16 h-8 p-1 text-center" %>
          <%= render "shared/form_label", text: "Days", form: form, field: :duration_days, extra_classes: "block" %>
        </div>
        <div class="flex flex-col items-center">
          <%= form.number_field :duration_hours, min:0, max:23, required: true,
                                value: (schedule.duration&.parts&.[](:hours) || schedule.new_record? ? 1 : 0),
                                class: "w-16 h-8 p-1 text-center" %>
          <%= render "shared/form_label", text: "Hours", form: form, field: :duration_hours, extra_classes: "block" %>
        </div>
        <div class="mx-2 text-4xl font-bold leading-7 -translate-y-1">:</div>
        <div class="flex flex-col items-center">
          <%= form.select :duration_minutes,
                          options_for_select((0..3).map { |i| [i * 15, i * 15] },
                          selected: (schedule.duration&.parts&.[](:minutes) || 0)),
                          {},
                          class: "w-16 h-8 p-1 text-center" %>
          <%= render "shared/form_label",
                     text: "Minutes",
                     form: form,
                     field: :duration_minutes,
                     extra_classes: "block" %>
        </div>
      </div>
    </div>

    <div data-controller="schedule-summary-watcher">
      <%= render "shared/form_label", form: form, field: :schedule_pattern, text: "Occurs", extra_classes: "block" %>

      <%= form.select_recurring :schedule_pattern, nil, allow_blank: true, initialize_flatpickr: true, static:true %>
      <%= form.hidden_field :frequency, data: {schedule_summary_watcher_target: "frequencyInput"} %>
    </div>

    <div>
      <% if modal_wrapper? %>
        <%= render "shared/buttons/form_submit_button", form: form, text: "Save Schedule", data: { turbo_submits_with: "Saving..." }, extra_classes: "mt-2 me-2 mb-2" %>
      <% else %>
        <%= render "shared/buttons/form_submit_button", form: form, text: "Save Schedule", data: { turbo: false }, extra_classes: "mt-2 me-2 mb-2" %>
      <% end %>
    </div>

  </div>
<% end %>
