<div id="<%= dom_id schedule %>">
  <p>
    <strong>Start date:</strong>
    <%= schedule.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= schedule.end_date %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= schedule.duration %>
  </p>

  <p>
    <strong>Schedule pattern:</strong>
    <%= schedule.schedule_pattern %>
  </p>

</div>
