<%# locals: (form_mode: false, schedule:, checked: false) %>
<tr class=" hover:bg-gray-100 dark:hover:bg-gray-700">
  <% if form_mode %>
    <td class="w-4 px-4 py-3">
      <%= content_tag :div do %>
        <%= hidden_field_tag "availability[availability_schedules_attributes][][schedule_id]", schedule.id %>
        <%= check_box_tag "availability[availability_schedules_attributes][][_destroy]", "1", checked, data:{ action:"change->schedule-selection#toggleSchedule", schedule_selection_target:"scheduleToggle", schedule_id:schedule.id, schedule_name:schedule.name}, class: "w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" %>
      <% end %>
    </td>
  <% end %>
  <th scope="row" class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <span class="text-xs font-medium px-2 py-0.5 rounded"> <%= schedule.name %> </span>
    <%= button_tag 'Button', type: 'button', class:"inline-block xl:hidden", data: {action:"click->element-toggle#triggerToggle", id:schedule.id} do %>
      &#9660;
    <% end %>
  </th>
  <td class="px-4 py-2">
    <span class="text-xs font-medium px-2 py-0.5 rounded"> <%= schedule.description %> </span>
  </td>
  <td class="px-4 py-2 hidden lg:table-cell">
    <span class="text-xs font-medium px-2 py-0.5 rounded"> <%= schedule.frequency %> </span>
  </td>
  <td class="px-4 py-2 hidden xl:table-cell font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= schedule.start_date.in_time_zone(Current.user.timezone).strftime("%B %d, %I:%M %p") %><%= schedule.start_date.strftime(", %Y") unless schedule.start_date.year == Time.current.year %></td>
  <td class="px-4 py-2 hidden xl:table-cell font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= schedule.end_date.in_time_zone(Current.user.timezone).strftime("%B %d, %I:%M %p") %><%= schedule.end_date.strftime(", %Y") unless schedule.end_date.year == Time.current.year %></td>
  <td class="px-4 py-2 hidden xl:table-cell font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <% if schedule.duration.parts[:hours] %>
      <%= schedule.duration.parts[:hours] %>h
    <% end %>
    <% if schedule.duration.parts[:minutes] %>
      <%= schedule.duration.parts[:minutes] %>m
    <% end %>
  </td>
</tr>
<%= content_tag :tr, class:"additional-info hidden lg:hidden border-b dark:border-gray-600", data: {id:schedule.id, element_toggle_target:"targetElement"} do %>
  <td></td>
  <td colspan="7">
    <ul>
      <li>
        <div class="table-cell lg:hidden">
          <strong class="font-semibold">Frequency:</strong> <span><%= schedule.frequency %></span>
        </div>
      </li>
      <li>
        <div class="table-cell xl:hidden">
          <strong class="font-semibold">Start:</strong> <span><%= schedule.start_date.in_time_zone(Current.user.timezone).strftime("%B %d, %I:%M %p") %><%= schedule.start_date.strftime(", %Y") unless schedule.start_date.year == Time.current.year %></span>
        </div>
      </li>
      <li>
        <div class="table-cell xl:hidden">
          <strong class="font-semibold">End:</strong> <span><%= schedule.end_date.in_time_zone(Current.user.timezone).strftime("%B %d, %I:%M %p") %><%= schedule.end_date.strftime(", %Y") unless schedule.end_date.year == Time.current.year %></span>
        </div>
      </li>
      <li>
        <div class="table-cell xl:hidden">
          <strong class="font-semibold">Duration:</strong>
          <span>
            <% if schedule.duration.parts[:hours] %>
              <%= schedule.duration.parts[:hours] %>h
            <% end %>
                  <% if schedule.duration.parts[:minutes] %>
              <%= schedule.duration.parts[:minutes] %>m
            <% end %>
          </span>
        </div>
      </li>
    </ul>
  </td>
<% end %>