<%# locals: (schedule:) %>
<%= turbo_frame_tag dom_id(schedule) do %>
  <div>
    Name: <%= schedule.name %>
  </div>
  <div>
    Description: <%= schedule.description %>
  </div>
  <div>
    Duration:
    <%= format_interval(schedule.duration) %>
  </div>
    Frequency: <%= schedule.frequency %>
  <div>
    Start: <%= schedule.start_time.in_time_zone(Current.user.timezone).strftime("%B %d, %Y, %I:%M %p") %>
  </div>
  <div>
    End: <%= schedule.end_time.in_time_zone(Current.user.timezone).strftime("%B %d, %Y, %I:%M %p") %>
  </div>

<% end %>