<%# locals: (schedule:) %>
<%= modal_wrapper(schedule.name) do %>
  <%= content_tag(:div, id:dom_id(schedule, :content)) do %>

    <%= render schedule %>

    <div>
      <%= link_to "Edit this schedule", edit_schedule_path(schedule) if policy(schedule).edit? %>
      <%= button_to "Destroy this schedule", schedule, method: :delete, data: { turbo_confirm: "Are you sure you want to delete this schedule?" } if policy(schedule).destroy? %>
    </div>

  <% end %>
<% end %>