<%= render "shared/header_primary", extra_classes: "text-center" do %>
  Edit Schedule: <span class="font-bold text-primary-600"><%= @schedule.name %></span>
<% end %>

<%= modal_wrapper(@schedule.name) do %>
  <%= render "form", schedule: @schedule %>
<% end %>
<br>

<div class="flex space-x-3">
  <%= render "shared/buttons/secondary_link", path: @schedule, text: "Show this schedule" %>
  <%= render "shared/buttons/secondary_link", path: schedules_path, text: "Back to schedules" %>
</div>
<%= content_for(:page_title, t("schedule.title")) %>