<%= render "shared/header_primary", extra_classes: "text-center" do %>
  <%= t("schedule.new.title") %>
<% end %>

<%= modal_wrapper(@schedule.name) do %>
  <%= render "form", schedule: @schedule %>
<% end %>

<br>

<div>
  <%= render "shared/buttons/secondary_link", path: schedules_path, text: "Back to Schedules" %>
</div>
<%= content_for(:page_title, t("schedule.title")) %>