<%# locals: (schedule:) %>
<p style="color: green"><%= notice %></p>

<%= render partial: "schedules/show_content", locals: {schedule: schedule} %>

<%= link_to "Back to schedules", schedules_path %>

<div data-controller="calendar" data-calendar-schedule-id=<%= schedule.id %> data-turbo-permanent>
  <%= render partial: 'calendars/calendar' %>
</div>
