<%# locals: (schedule:) %>
<%= content_tag(:div, id:dom_id(schedule, :show)) do %>

  <%= render partial: "schedules/show_content", locals: {schedule: schedule} %>

  <div class="mt-4">
    <%= render "shared/buttons/primary_link", path: schedules_path, text: "Back to Schedules" %>
  </div>

  <div data-controller="calendar" data-calendar-interactive-value="true" data-calendar-schedule-id=<%= schedule.id %> data-turbo-permanent>
    <%= render partial: 'calendars/calendar' %>
  </div>

<% end %>
<% content_for(:page_title, t("schedule.title")) %>