<%= turbo_frame_tag "modal_frame" do %>
  <dialog id="modal_creation" tabindex="-1" class="fixed inset-0 h-fit max-h-fit items-center justify-center overflow-visible rounded-lg bg-white p-1 shadow dialog md:inset-0 dark:bg-gray-700" data-controller="dialog" data-dialog-title-value="New" data-dialog-target="dialog" data-action="click->dialog#backdropClose" data-dialog-open-value=true>
      <!-- Modal header -->
      <div class="flex items-center justify-between rounded-t border-b pl-3 dark:border-gray-600">
        <h3 id="modal_title_creation" data-dialog-title-value="New" data-dialog-target="modalTitle" class="text-lg font-semibold text-gray-900 dark:text-white">
          <%= local_assigns[:modal_title] || "New" %>
        </h3>

        <!-- Tabs -->
        <% has_proposal = local_assigns[:game_proposal] || local_assigns[:game_proposals] %>
        <div id="modal_tabs">
          <div class="flex border-b border-gray-200 dark:border-gray-700">
            <ul class="-mb-px flex text-center text-sm font-medium" id="default-tab" data-tabs-toggle="#tab_content" role="tablist">
              <% if has_proposal %>
                <li class="me-2" role="presentation">
                    <button class="inline-block rounded-t-lg border-b-2 p-4" id="game_session_form_tab" data-tabs-target="#game_session_form" type="button" role="tab" aria-controls="game_session_form" aria-selected="false">Game Session</button>
                </li>
              <% end %>
              <li class="me-2" role="presentation">
                <button class="inline-block rounded-t-lg border-b-2 p-4 hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="schedule_form_tab" data-tabs-target="#schedule_form" type="button" role="tab" aria-controls="schedule_form" aria-selected="false">Schedule</button>
              </li>
            </ul>
          </div>
        </div>
        <button data-action="dialog#close" class="inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white">
          <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>

      <!-- Modal body -->
      <div id="modal_body_creation" data-dialog-target="modalBody" class="p-4 text-gray-700 dark:text-gray-300">
        <%= local_assigns[:modal_body] || "" %>

        <!-- Tab content -->
        <div id="tab_content">
          <% if has_proposal %>
            <div class="hidden rounded-lg bg-tertiary-50p-4 dark:bg-gray-800" id="game_session_form" role="tabpanel" aria-labelledby="new-game-session-tab">
              <%= render partial: "game_sessions/form",
                         locals: { game_proposal: local_assigns[:game_proposal] || game_proposals.first,
                                   initial_game_proposal: local_assigns[:initial_game_proposal],
                                   game_session: GameSession.new(game_proposal: local_assigns[:game_proposal] || game_proposals.first, duration: 1.hour, date: local_assigns[:date] || Time.current),
                                   game_proposals: local_assigns[:game_proposals] || nil,
                                   groups: local_assigns[:groups] || nil} %>
            </div>
          <% end %>
            <div class="hidden rounded-lg bg-tertiary-50p-4 dark:bg-gray-800" id="schedule_form" role="tabpanel" aria-labelledby="new-schedule-tab">
              <%= render partial: "schedules/form", locals: { schedule: local_assigns[:schedule] || Schedule.new_default(Current.user) } %>
            </div>
        </div>

      </div>
      <%= render "shared/spinner" %>

  </dialog>
<% end %>