<%# locals: (resource:, button_content: nil, form_partial:, container_tag: :div, container_classes:"", ignore_success: true) %>
<%= content_tag container_tag, data: {controller: "dialog", action: "click->dialog#backdropClose", dialog_ignore_submit_success_value: ignore_success},
                class: container_classes do %>
  <% if button_content.present? %>
    <%= button_content %>
  <% else %>
    <%= render "shared/buttons/dialog_delete_button", extra_classes:"flex items-center px-2" %>
  <% end %>

  <% title_content = capture do %>
    <div class="flex items-center px-2">
      <span class="text-notice-400"><%= inline_svg_tag "icons/exclamation-triangle" %></span>
      <span class="ml-1">Delete <%= resource.class.name.titleize %></span>
    </div>
  <% end %>

  <% body_content = capture do %>
    <%= render form_partial, resource.class.name.underscore.to_sym => resource %>
    <%= render "shared/notification", id: "#{resource.class.name.underscore}_#{resource.id}" %>
    <% if resource.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(resource.errors.count, "error") %> prohibited this <%= resource.class.name.titleize %> from being saved:</h2>

        <ul>
          <% resource.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

  <%= render "shared/confirmation_modal",
             title_content: title_content,
             body_content: body_content,
             id: "#{resource.class.name.underscore}_#{resource.id}"%>
<% end %>