<%# locals: (user_availability:, availabilities: []) %>
<%= form_with(model: user_availability) do |form| %>
  <% if user_availability.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user_availability.errors.count, "error") %> prohibited this user_availability from being saved:</h2>

      <ul>
        <% user_availability.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <div>
      <%= collection_select :user_availability, :availability_id, @availabilities, :id, :name, {}, data:{action: "change->availability-selection#setCalendarAvailability", availability_selection_target:"availabilitySelectInput"}  %>
    </div>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.hidden_field :user_id, value: Current.user.id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>