<%# locals: (user_availability:, availabilities: []) %>
<%= form_with(model: user_availability) do |form| %>
    <%= render "shared/notification", id: "user_availability_#{user_availability.id}" %>


  <div>
    <%= form.hidden_field :user_id, value: Current.user.id %>
  </div>

  <div>
    <div>
      <label for="user_availability_availability_id" class="sr-only">Select Default Availability</label>
      <%= collection_select :user_availability,
                            :availability_id,
                            @availabilities,
                            :id,
                            :name,
                            {},
                            data:{action: "change->availability-selection#setCalendarAvailability",
                                  availability_selection_target:"availabilitySelectInput"},
                            'aria-describedby': "tooltip-user-availability"%>
      <%= render "shared/buttons/form_submit_button", form: form, text: "Set Availability", extra_classes: "mt-2 me-2 mb-2" %>
    </div>
  </div>
<% end %>