<div data-controller="availability-selection stimulus-popover"
     role="presentation"
     data-availability-selection-calendar-outlet="#calendar_holder">
  <button data-action="mouseenter->stimulus-popover#show mouseleave->stimulus-popover#hide focusin->stimulus-popover#show focusout->stimulus-popover#hide"
          aria-hidden="true"
          type="button"
          class="cursor-default">
    <%= inline_svg_tag "icons/question-circle.svg"%>
  </button>
  <%= render "shared/popover_stimulus",
             id: "tooltip-user-availability",
             extra_classes: "inline-block px-3 py-2 font-medium text-black bg-gray-200 dark:text-white
              dark:bg-gray-300 rounded-xl shadow-xl tooltip max-w-xxs sm:max-w-md lg:max-w-lg mr-5" do %>
    <p class="whitespace-normal wrap-normal">
      Set a default availability here to automatically use it for all your groups, game proposals, and game sessions that do not have an availability set.
    </p>
  <% end %>
  <%= render "form", user_availability: @user_availability, availabilities: @availabilities %>

  <div class="mt-2">
    <%= render "shared/buttons/secondary_link", path: settings_path, text: "Back to Settings" %>
  </div>

  <h2 class="text-2xl font-bold tracking-tight text-black dark:text-white text-center">Preview</h2>
  <div id="calendar_holder"
       data-controller="calendar"
       data-calendar-interactive-value="true"
       data-calendar-availability-id="<%= @user_availability&.id || @availabilities.first %>"
       data-turbo-permanent>
    <%= render partial: 'calendars/calendar' %>
  </div> 

</div>
