<%= render 'shared/notification', id: "home" %>
<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mb-4 min-w-fit">
  <%= render partial: "game_sessions/upcoming_game_sessions",
             locals: {upcoming_game_sessions: Current.user.upcoming_game_sessions.limit(GameSession::PAGE_LIMIT_SHORT),
                      limit: GameSession::PAGE_LIMIT_SHORT,
                      src: game_sessions_path} %>
  <%= render partial: "game_proposals/pending_game_proposals",
             locals: {pending_game_proposals: local_assigns[:pending_game_proposals]} %>
  <%= turbo_stream_from "pending_game_proposals_user_#{Current.user.id}" %>
</div>

<section data-controller="calendar"
     data-calendar-stream-id-value="user_<%= Current.user.id %>"
     data-calendar-dialog-outlet=".dialog"
     data-calendar-flatpickr-outlet=".flatpickr"
     data-calendar-disambiguate-value=true
     data-calendar-user-id="<%= Current.user.id %>">
  <%= render partial: 'calendars/calendar' %>
</section>
<%= content_for(:page_title, t("dashboard.title")) %>