<%= form_with(model: proposal_vote.new_record? ?
                       [game_proposal, proposal_vote] :
                       proposal_vote,
              id:dom_id(proposal_vote, :form)) do |form| %>

  <%= render "shared/notification", id: proposal_vote.new_record? ?
                                          "proposal_vote_new" :
                                          "proposal_vote_#{proposal_vote.id}" %>

  <div class="text-center">
    <%= form.hidden_field :user_id, value: Current.user.id %>
    <%= form.hidden_field :game_proposal_id, value: proposal_vote.game_proposal_id  %>
  </div>

  <div class="text-center my-2">
    <%= form.label :yes_vote, "Vote", class: "block underline" %>
    <%= form.radio_button :yes_vote, true,  checked: proposal_vote.yes_vote == true %>
    <%= form.label :yes_vote_true, "Yes", class: "inline" %>
    <%= form.radio_button :yes_vote, false, checked: proposal_vote.yes_vote == false %>
    <%= form.label :yes_vote_false, "No", class: "inline" %>
    <%= form.radio_button :yes_vote, "", checked: proposal_vote.new_record? || proposal_vote.yes_vote == nil %>
    <%= form.label :yes_vote_, "Unsure", class: "inline" %>
  </div>

  <div class="text-center my-2 space-y-2">
    <%= form.label :comment, class: "block underline" %>
    <%= form.text_area :comment, placeholder:"Add a comment (optional)", value: proposal_vote.comment %>
  </div>

  <div class="text-center">
    <%= render "shared/buttons/form_submit_button",
               form: form,
               text: t("proposal_vote.edit.submit_text"),
               extra_classes: "m-2" %>
  </div>
<% end %>
