<!-- TODO: Add a loading indicator and disable the inputs while loading-->
<%= form_with(model: proposal_vote.new_record? ?  [game_proposal, proposal_vote] :  proposal_vote, id:dom_id(proposal_vote, :form)) do |form| %>
  <% if proposal_vote.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(proposal_vote.errors.count, "error") %> prohibited this proposal_vote from being saved:</h2>

      <ul>
        <% proposal_vote.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :user_id, value: Current.user.id %>
    <%= form.hidden_field :game_proposal_id, value: proposal_vote.game_proposal_id  %>
  </div>

  <div>
    <%= form.label :yes_vote, "Vote", style: "display: block" %>
    <%= form.radio_button :yes_vote, true,  checked: proposal_vote.yes_vote == true %>
    <%= form.label :yes_vote_true, "Yes", style: "display: inline" %>
    <%= form.radio_button :yes_vote, false, checked: proposal_vote.yes_vote == false %>
    <%= form.label :yes_vote_false, "No", style: "display: inline" %>
    <%= form.radio_button :yes_vote, "", checked: proposal_vote.new_record? || proposal_vote.yes_vote == nil %>
    <%= form.label :yes_vote_, "Unsure", style: "display: inline" %>
  </div>

  <div>
    <%= form.label :comment, style: "display: block" %>
    <%= form.text_area :comment, placeholder:"Add a comment (optional)", value: proposal_vote.comment %>
  </div>

  <div>
    <%= render "shared/buttons/form_submit_button", form: form, text:"Save Vote and Comment", extra_classes: "m-2" %>
  </div>

  <% if local_assigns[:notice] %>
    <div style="color: green">
      <h2><%= local_assigns[:notice] %></h2>
    </div>
  <% end %>
<% end %>
