<%= form_with(model: proposal_vote) do |form| %>
  <% if proposal_vote.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(proposal_vote.errors.count, "error") %> prohibited this proposal_vote from being saved:</h2>

      <ul>
        <% proposal_vote.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :proposal_id, style: "display: block" %>
    <%= form.text_field :proposal_id %>
  </div>

  <div>
    <%= form.label :yes_vote, style: "display: block" %>
    <%= form.check_box :yes_vote %>
  </div>

  <div>
    <%= form.label :comment, style: "display: block" %>
    <%= form.text_area :comment %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
