<div id="<%= dom_id proposal_vote %>">
  <p>
    <strong>User:</strong>
    <%= proposal_vote.user_id %>
  </p>

  <p>
    <strong>Proposal:</strong>
    <%= proposal_vote.proposal_id %>
  </p>

  <p>
    <strong>Yes vote:</strong>
    <%= proposal_vote.yes_vote %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= proposal_vote.comment %>
  </p>

</div>
