<%# locals: (proposal_vote:, group_membership:) %>
<div id="<%= dom_id proposal_vote %>" class="flex">

  <div id="proposal_vote_<%=proposal_vote.id%>_group_membership_<%=group_membership.id%>"
       data-controller="anchor-position"
       data-anchor-position-target="anchor"
       data-anchor-position-position-style-value="absolute"
       class="flex relative" >
    <% icon = if proposal_vote.yes_vote.nil?
                'undecided.svg'
              else
                proposal_vote.yes_vote ? 'checkmark.svg' : 'xmark.svg'
              end
    %>
    <% frame_id = derive_permission_set_frame_id(user: proposal_vote.user, game_proposal: proposal_vote.game_proposal) %>
    <% dialog_popover_id = "popover_#{frame_id}" %>

    <div data-controller="stimulus-popover">
      <div class="flex"
           data-action="mouseenter->stimulus-popover#show mouseleave->stimulus-popover#hide focusin->stimulus-popover#show focusout->stimulus-popover#hide">
        <button popovertarget="<%= dialog_popover_id %>"
                aria-label="View roles for <%= proposal_vote.user.username %> in <%= proposal_vote.game_name %> for <%= proposal_vote.group_name %>"
                aria-describedby="popover_proposal_vote_<%= proposal_vote.id %>"
                data-action="click->anchor-position#triggerUpdate">
          <%= user_avatar(proposal_vote.user, size_x: 24, size_y: 24, svg_icon: icon) %>
        </button>
      </div>
      <%= render "shared/popover_stimulus",
                 id: "popover_proposal_vote_#{proposal_vote.id}",
                 extra_classes: "top-7 left-8 -translate-x-1/2 w-max" do %>
        <span id="stimulus_popover_proposal_vote_<%= proposal_vote.id %>_label" class="sr-only"><%= proposal_vote.user.username %>'s vote for <%= proposal_vote.group_name %> in <%= proposal_vote.game_name %>:</span>
        <%= render "proposal_votes/vote_details", proposal_vote: proposal_vote %>
      <% end %>
    </div>



    <%= render "shared/popover_top_layer", id: dialog_popover_id, extra_classes: "p-4" do %>
      <span class="sr-only"><%= proposal_vote.user.username %>'s roles for <%= proposal_vote.game_name %> in <%= proposal_vote.group_name %></span>
      <%= turbo_frame_tag frame_id,
                          role: "presentation",
                          src: game_proposal_permission_set_path(user_id: proposal_vote.user.id, game_proposal_id: proposal_vote.game_proposal.id),
                          data: { action: "turbo:frame-load->anchor-position#triggerUpdate"},
                          loading: "lazy" do %>
        <div class="size-16">
          <%= render "shared/spinner_absolute" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
