<%# locals: (proposal_vote:) %>
<tr class="text-center hover:bg-gray-100 dark:hover:bg-gray-700 h-fit">
  <th scope="row" class="sticky left-0 z-10 pl-3 py-4 pr-3 min-w-32 font-medium text-gray-900 dark:text-white
    w-40">
    <div data-controller="anchor-position"
         data-anchor-position-position-style-value="fixed"
         data-action="anchor-position#updatePosition"
         role="presentation"
         class="flex items-center relative translate-z-0">
      <div class="space-x-2">
        <button popovertarget="table_popover_permission_set_user_<%= proposal_vote.user.id %>_game_proposal_<%= proposal_vote.game_proposal.id %>"
                data-action="click->anchor-position#updatePosition"
                aria-haspopup="dialog"
                data-anchor-position-target="anchor">
          <%= user_avatar(proposal_vote.user, size_x: 24) %>
        </button>
        <span class="ml-1"><%= proposal_vote.user.username %></span>
      </div>
      <%= render "shared/popover_top_layer", extra_classes: "p-4",
                 id: "table_popover_permission_set_user_#{proposal_vote.user.id}_game_proposal_#{proposal_vote.game_proposal.id}" do %>
        <%= turbo_frame_tag derive_permission_set_frame_id(user: proposal_vote.user, game_proposal: proposal_vote.game_proposal),
                            src: game_proposal_permission_set_path(user_id: proposal_vote.user.id, game_proposal_id: proposal_vote.game_proposal.id),
                            data: { action: "turbo:frame-load->anchor-position#triggerUpdate"},
                            role: "presentation",
                            loading:"lazy" do %>
          <%= render "shared/spinner" %>
        <% end %>
      <% end %>
    </div>
  </th>
  <td class="px-4 py-4">
    <%= format_vote(proposal_vote.yes_vote) %>
  </td>
</tr>