<p style="color: red"><%= alert %></p>

<% if Current.user.verified? %>
  <h1>Change your email</h1>
<% elsif Current.user.email.present? %>
  <h1>Verify your email</h1>
  <p>We sent a verification email to the address below. Check that email and follow those instructions to confirm it's your email address.</p>
  <p><%= Current.user.email %></p>

  <div class="my-4">
    <%= render "shared/buttons/primary_button_to",
               path: identity_email_verification_path(email: Current.user.email),
               text: "Re-send verification email" %>
  </div>
<% end %>

<%= form_with(url: identity_email_path, method: :patch) do |form| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :email, "New email", style: "display: block" %>
    <%= form.email_field :email, autofocus: true %>
  </div>

  <div>
    <%= form.label :password_challenge, style: "display: block" %>
    <%= form.password_field :password_challenge, required: true, autocomplete: "current-password" %>
  </div>

  <div>
    <%= render "shared/buttons/form_submit_button",
               form: form,
               text: "Save Changes",
               extra_classes: "mt-2 me-2 mb-2" %>
  </div>
<% end %>

<br>

<div>
  <%= render "shared/buttons/cancel_button", path: settings_path  %>
</div>
