<section>
  <%= render "shared/notification", id: "user_#{Current.user.id}" %>

  <% if Current.user.email.present? && !Current.user.verified? %>
    <h1 class="text-xl font-bold dark:text-white">Verify your email</h1>
    <p>We sent a verification email to the address below. Check that email and follow those instructions to confirm it's your email address.</p>
    <p><%= Current.user.email %></p>

    <div class="my-4">
      <%= render "shared/buttons/primary_button_to",
                 path: identity_email_verification_path(email: Current.user.email),
                 text: "Re-send verification email" %>
    </div>
  <% end %>

  <h1 class="text-xl font-bold dark:text-white">Change your email</h1>
  <%= form_with(model: @user, url: identity_email_path, method: :patch, class:"flex flex-col gap-y-4 md:gap-y-6 w-full sm:max-w-md") do |form| %>
    <div>
      <%= form.label :email, "New Email", style: "display: block", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= form.email_field :email,
                           autofocus: true,
                           autocomplete: "email",
                           class:  "#{input_field_classes}",
                           placeholder: "name@email.com"%>
    </div>

    <div>
      <%= form.label :password_challenge, "Current Password", style: "display: block", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= form.password_field :password_challenge,
                              minlength: 8,
                              autocomplete: "current-password",
                              placeholder: "••••••••",
                              class: "#{input_field_classes}",
                              required: "" %>
    </div>

    <div>
      <%= render "shared/buttons/form_submit_button",
                 form: form,
                 text: "Save Changes",
                 extra_classes: "mt-2 me-2 mb-2" %>
    </div>
  <% end %>

  <br>

  <div>
    <%= render "shared/buttons/cancel_button", path: settings_path  %>
  </div>
</section>
<% content_for(:page_title, t("user.edit.title")) %>