<%# locals: (games:) %>
<section class="py-3 sm:py-5">
  <div class="grid grid-cols-3 gap-4 md:grid-cols-6 lg:grid-cols-9">
    <% games.each do |game| %>
      <div class="relative">
        <%= button_tag t("game_proposal.new.submit_text"),
                       data: { action: "game-selection#submitSelection", game_id: game.id, game_name: game.name },
                       disabled: true,
                       'aria-hidden': true,
                       class: "hidden submit-game-btn h-14 w-full z-auto absolute text-black dark:text-white transform top-0
                         cursor-pointer focus:ring-4 focus:outline-none focus:ring-secondary-100 font-medium rounded-lg
                         text-sm px-4 py-2 bg-secondary-200 hover:bg-secondary-300 dark:bg-secondary-500
                         dark:hover:bg-secondary-400 dark:focus:ring-secondary-300" %>
        <button type="button"
                id="select-game-<%= game.id %>"
                data-action="game-selection#select"
                data-game-id="<%= game.id %>"
                data-game-name="<%= game.name %>"
                aria-label="Select game <%= game.name %>"
                class="relative z-0 w-full rounded-lg select-game-btn hover:brightness-110">
          <%= render game %>
        </button>
      </div>
    <% end %>
  </div>
  <%= render "shared/table_nav" do %>
    <div class="text-gray-500">Originally retrieved from IGDB</div>
  <% end %>
</section>