<%# locals: (games:) %>
<div role="search"
     data-controller="search"
     data-search-src-value="<%= games_path(format: :turbo_stream) %>"
     data-search-search-complete-message-value="<%= t('search.complete_message') %>">
  <%= render "games/game_list_header" %>
  <div class="relative">
    <%= turbo_frame_tag "game_list",
                        role: "presentation",
                        src: games_path(format: :turbo_stream), data: {search_target:"frame"},
                        class: "mx-3" do %>
      <div class="grid grid-cols-3 gap-4 md:grid-cols-6 lg:grid-cols-9 py-3 sm:py-5 w-full h-full" aria-hidden="true">
        <% 18.times do %>
          <div class="aspect-[3/4]">
            <div class="bg-gray-200 dark:bg-gray-700 h-full w-full rounded-lg animate-pulse"></div>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= render "shared/spinner_absolute", start_hidden: true %>
  </div>
</div>
<% content_for(:page_title, t("game.title")) %>