<%# locals: (games:, pagy:) %>
<%= turbo_frame_tag "games_index" do %>

<section class="bg-gray-50 dark:bg-gray-900 py-3 sm:py-5">
  <div class="grid grid-cols-3 md:grid-cols-6 lg:grid-cols-9 gap-4">
      <% games.each do |game| %>
        <div>
          <button type="button"
                  data-action="game-selection#select"
                  data-game-id="<%= game.id %>"
                  data-game-name="<%= game.name %>"
                  class="select-game-btn">
            <%= render game %>
          </button>
        </div>
      <% end %>
  </div>
  <nav class="flex flex-col items-start justify-between p-4 space-y-3 md:flex-row md:items-center md:space-y-0" aria-label="Table navigation">
    <ul class="inline-flex items-stretch -space-x-px ">
      <li data-controller="pagy-initializer">
          <%== pagy_nav_js(@pagy) if @pagy.pages > 1 %>
          <noscript><%== pagy_nav(@pagy) if @pagy.pages > 1 %></noscript>
      </li>
    </ul>
    <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
        <%== pagy_info @pagy %>
    </span>
  </nav>
</section>
<% end %>