<section>
  <h1 class="text-xl font-bold dark:text-white">Change your password</h1>

  <%= form_with(model: @user, url: password_path, method: :patch, class:"flex flex-col gap-y-4 md:gap-y-6 w-full sm:max-w-md") do |form| %>
    <%= render "shared/notification", id: "user_#{Current.user.id}" %>

    <div>
      <%= form.label :password_challenge, "Current Password", style: "display: block", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= form.password_field :password_challenge,
                              minlength: 8,
                              autocomplete: "current-password",
                              placeholder: "••••••••",
                              class:  "#{input_field_classes}",
                              required: "" %>
    </div>

    <div>
      <%= form.label :password, "New Password", style: "display: block", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= form.password_field :password,
                              minlength: 8,
                              autocomplete: "confirm-password",
                              placeholder: "••••••••",
                              class:  "#{input_field_classes}",
                              required: "" %>
      <div>8 characters minimum.</div>
    </div>

    <div>
      <%= render "shared/buttons/form_submit_button",
                 form: form,
                 text: "Save Changes",
                 extra_classes: "mt-2 me-2 mb-2" %>
    </div>
  <% end %>

  <br>

  <%= render "shared/buttons/cancel_button", path: settings_path  %>
</section>
<% content_for(:page_title, t("user.edit.title")) %>