<%# locals: (availability: nil, schedules:, pagy:) %>
<p style="color: green"><%= notice %></p>
<div>
  <div class="overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400" data-controller="checkbox-select-all">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-2 py-3 text-center">Include</th>
          <th scope="col" class="px-4 py-3 text-center">Schedule</th>
          <th scope="col" class="px-4 py-3 hidden lg:table-cell text-center">Description</th>
          <th scope="col" class="px-4 py-3 hidden xl:table-cell text-center">Frequency</th>
          <th scope="col" class="px-4 py-3 hidden 2xl:table-cell text-center">Start Date</th>
          <th scope="col" class="px-4 py-3 hidden 2xl:table-cell text-center">End Date</th>
          <th scope="col" class="px-4 py-3 hidden xxl:table-cell text-center">Duration</th>
        </tr>
      </thead>
      <tbody data-controller="element-toggle" data-element-toggle-display-style-value="table-row">
        <% availability.schedules.select { |schedule| schedules.include?(schedule) }.each do |schedule| %>
          <%= render partial:"schedule_table_row", locals: {schedule: schedule, checked: true} %>
        <% end if availability.present? %>
      </tbody>
      <tbody data-controller="element-toggle" data-element-toggle-display-style-value="table-row">
        <% (availability.present? ? (schedules - availability.schedules) : schedules).each do |schedule| %>
          <%= render partial:"schedule_table_row", locals: {schedule: schedule, checked: false} %>
        <% end %>
      </tbody>
    </table>
  </div>
  <nav class="flex flex-col items-start justify-between p-4 space-y-3 md:flex-row md:items-center md:space-y-0" aria-label="Table navigation">
    <ul class="inline-flex items-stretch -space-x-px ">
      <li data-controller="pagy-initializer">
        <%== pagy_nav_js(@pagy) if @pagy.pages > 1 %>
        <noscript><%== pagy_nav(@pagy) if @pagy.pages > 1 %></noscript>
      </li>
    </ul>
    <span class="text-sm font-normal text-gray-500 dark:text-gray-400"> <%== pagy_info @pagy %></span>
  </nav>
<% end %>

