<%# locals: (availability:, schedules:, pagy:) %>
<%= turbo_frame_tag "availability_schedule_table" do %>
  <% if schedules.any? %>
    <section class="bg-tertiary-50dark:bg-gray-900">
      <div class="mx-auto max-w-screen-xl ">
        <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
          <%= render "availability_schedules/table/schedule_table_header", availability: availability  %>

          <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">

            <div class="w-full md:w-1/2">
              <%= form_with(url:availability_schedules_path(availability), method: :get, class:"flex items-center") do |sub_form| %>
                <label for="query" class="sr-only">Search</label>
                <div class="relative w-full">
                  <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                    </svg>
                  </div>
                  <div class="flex">
                    <%= sub_form.text_field :query, name:"query", data: {game_selection_target:"query",},
                                            class:"bg-tertiary-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                         focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2
                         dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                         dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                                            placeholder:"Search Schedules..." %>
                    <%= render "shared/buttons/search_submit_button", form: sub_form, turbo_frame_id: "schedules_index" %>
                    <%= render "shared/buttons/form_submit_button", form: sub_form, text: "Reset", data: { action: "click->game-selection#resetSearch" } %>
                  </div>
                </div>
              <% end %>
            </div>

            <div class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
              <%= render "shared/buttons/icon_link_thick", path: new_schedule_path, text: "New Schedule", data: { turbo_frame: "modal_frame"} %>

              <div class="flex items-center space-x-3 w-full md:w-auto">
                <button id="filterDropdownButton" data-dropdown-toggle="filterDropdown" class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="h-4 w-4 mr-2 text-gray-400" viewbox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z" clip-rule="evenodd" />
                  </svg>
                  Filter
                  <svg class="-mr-1 ml-1.5 w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path clip-rule="evenodd" fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" />
                  </svg>
                </button>
                <div id="filterDropdown" class="z-10 hidden w-48 p-3 bg-white rounded-lg shadow dark:bg-gray-700">
                  <h6 class="mb-3 text-sm font-medium text-gray-900 dark:text-white">Choose brand</h6>
                  <ul class="space-y-2 text-sm" aria-labelledby="filterDropdownButton">
                    <li class="flex items-center">
                      <input id="included" type="checkbox" value="" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                      <label for="included" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Included (placeholder)</label>
                    </li>
                    <li class="flex items-center">
                      <input id="excluded" type="checkbox" value="" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                      <label for="excluded" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Excluded (placeholder)</label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="overflow-x-auto">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400" data-controller="checkbox-select-all">
              <thead class="text-xs text-gray-700 uppercase bg-tertiary-50dark:bg-gray-700 dark:text-gray-400">
              <tr>
                <th scope="col" class="px-4 py-3">Include</th>
                <th scope="col" class="px-4 py-3">Schedule</th>
                <th scope="col" class="px-4 py-3">Description</th>
                <th scope="col" class="px-4 py-3">Frequency</th>
                <th scope="col" class="px-4 py-3">Beginning Date</th>
                <th scope="col" class="px-4 py-3">End Date</th>
                <th scope="col" class="px-4 py-3">Duration</th>
              </tr>
              </thead>
              <tbody>
              <% schedules.each do |schedule| %>
                <tr class="border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
                  <td class="w-4 px-4 py-3">
                    <div class="flex items-center">
                      <input id="schedule_id" type="checkbox" onclick="event.stopPropagation()" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                      <label for="schedule_id" class="sr-only">checkbox</label>
                    </div>

                    <div>
                      <%= check_box_tag "availability[availability_schedules_attributes][][_destroy]", "1", !schedule.marked_for_destruction?, class: "w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" %>
                      <%= label_tag "availability[availability_schedules_attributes][][_destroy]", schedule.name %>
                      <%= hidden_field_tag "availability[availability_schedules_attributes][][schedule_id]", schedule.id %>
                    </div>
                  </td>
                  <th scope="row" class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <span class="text-xs font-medium px-2 py-0.5 rounded"> <%= schedule.name %> </span>
                  </th>
                  <td class="px-4 py-2">
                    <span class="text-xs font-medium px-2 py-0.5 rounded"> <%= schedule.description %> </span>
                  </td>
                  <td class="px-4 py-2">
                    <span class="text-xs font-medium px-2 py-0.5 rounded"> <%= schedule.frequency %> </span>
                  </td>
                  <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= schedule.start_time.in_time_zone(Current.user.timezone).strftime("%B %d, %I:%M %p") %></td>
                  <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= schedule.end_time.in_time_zone(Current.user.timezone).strftime("%B %d, %I:%M %p") %></td>
                  <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <% if schedule.duration.parts[:hours] %>
                      <%= schedule.duration.parts[:hours] %>h
                    <% end %>
                    <% if schedule.duration.parts[:minutes] %>
                      <%= schedule.duration.parts[:minutes] %>m
                    <% end %>
                  </td>
                </tr>
              <% end %>
              <% (schedules - availability.schedules).each do |schedule| %>
                <tr class="border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
                  <td class="w-4 px-4 py-3">
                    <div class="flex items-center">
                      <input id="schedule_id" type="checkbox" onclick="event.stopPropagation()" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                      <label for="schedule_id" class="sr-only">checkbox</label>
                    </div>

                    <div>
                      <%= check_box_tag "availability[availability_schedules_attributes][][_destroy]", "1", false, class: "w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" %>
                      <%= label_tag "availability[availability_schedules_attributes][][_destroy]", schedule.name %>
                      <%= hidden_field_tag "availability[availability_schedules_attributes][][schedule_id]", schedule.id %>
                    </div>
                  </td>
                  <th scope="row" class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <span class="text-xs font-medium px-2 py-0.5 rounded"> <%= schedule.name %> </span>
                  </th>
                  <td class="px-4 py-2">
                    <span class="text-xs font-medium px-2 py-0.5 rounded"> <%= schedule.description %> </span>
                  </td>
                  <td class="px-4 py-2">
                    <span class="text-xs font-medium px-2 py-0.5 rounded"> <%= schedule.frequency %> </span>
                  </td>
                  <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= schedule.start_time.in_time_zone(Current.user.timezone).strftime("%B %d, %I:%M %p") %></td>
                  <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= schedule.end_time.in_time_zone(Current.user.timezone).strftime("%B %d, %I:%M %p") %></td>
                  <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <% if schedule.duration.parts[:hours] %>
                      <%= schedule.duration.parts[:hours] %>h
                    <% end %>
                    <% if schedule.duration.parts[:minutes] %>
                      <%= schedule.duration.parts[:minutes] %>m
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <%= render partial:"shared/table_nav" %>
        </div>
      </div>
    </section>
  <% end %>
<% end %>

