<p style="color: green"><%= notice %></p>

<%= render @availability_schedule %>


<div>
  <%= link_to "Edit this availability schedule", edit_availability_schedule_path(@availability_schedule) %> |
  <%= link_to "Back to availability schedules", availability_schedules_path %>

  <%= button_to "Destroy this availability schedule", @availability_schedule, method: :delete %>
</div>
