<%# locals:(proposal_availability:, availabilities:, game_proposal: nil) %>
<%= form_with(model: proposal_availability.new_record? ? [game_proposal, proposal_availability] : proposal_availability) do |form| %>
  <h2>Set Availability for <span class="font-bold text-primary-600"><%= proposal_availability.game_proposal.game_name %></span></h2>

  <div>
    <%= form.hidden_field :user_id, value: Current.user.id %>
    <%= form.hidden_field :game_proposal_id, value: proposal_availability.game_proposal_id %>
  </div>

  <div>
    <div>
      <%= form.collection_select :availability_id,
                                 availabilities,
                                 :id,
                                 :name,
                                 {},
                                 data:{action: "change->availability-selection#setCalendarAvailability",
                                       availability_selection_target:"availabilitySelectInput"} %>
      <%= render "shared/buttons/form_submit_button", form:form, text: t("proposal_availability.edit.submit_text"), extra_classes: "mt-2 me-2 mb-2" %>
    </div>
  </div>

<% end %>