<div data-controller="availability-selection" data-availability-selection-calendar-outlet="#calendar_holder" >

  <%= render "form", proposal_availability: @proposal_availability, availabilities: @availabilities %>

  <div class="my-6">
    <%= render "shared/buttons/delete_button", confirm: false, resource: @proposal_availability, text: "Unset Proposal Availability" %>
  </div>

  <div class="my-6">
    <%= render "shared/buttons/secondary_link", path: @proposal_availability.game_proposal, text:"Back to Game Proposal" %>
    <%= render "shared/buttons/secondary_link", path: @proposal_availability.availability, text:"View Current Availability: #{@proposal_availability.availability.name}" %>
  </div>

  <div id="calendar_holder" data-controller="calendar" data-calendar-interactive="true" data-calendar-availability-id="<%= @availabilities.first.id %>" data-turbo-permanent>
    <%= render partial: 'calendars/calendar' %>
  </div>
</div>