<% new_record = game_session_attendance.new_record? %>
<%= form_with(model: new_record ?  [game_session, game_session_attendance] :  game_session_attendance,
              id: dom_id(game_session_attendance, :form)) do |form| %>
  <%= render "shared/notification", id: "game_session_attendance_#{new_record ? "new" : game_session_attendance.id}" %>

  <div>
    <%= form.hidden_field :game_session_id, value: game_session_attendance.game_session_id %>
    <%= form.hidden_field :user_id, value: Current.user.id %>
  </div>

  <div>
    <%= form.label :attending, "Attendance", style: "display: block" %>
    <%= form.radio_button :attending, true,  checked: game_session_attendance.attending == true%>
    <%= form.label :attending_true, "Attending", style: "display: inline" %>
    <%= form.radio_button :attending, false, checked: game_session_attendance.attending == false%>
    <%= form.label :attending_false, "Not Attending", style: "display: inline" %>
    <%= form.radio_button :attending, "", checked: game_session_attendance.new_record? || game_session_attendance.attending == nil%>
    <%= form.label :attending_, "Unsure", style: "display: inline" %>
    <%= render "shared/buttons/form_submit_button",
               form: form,
               text: "Save Attendance",
               extra_classes: "block mt-2 mb-2 disabled:bg-gray-600 disabled:cursor-default disabled:hover:bg-gray-600 dark:disabled:hover:bg-gray-600" %>
  </div>
<% end %>