<% new_record = game_session_attendance.new_record? %>
<%= form_with(model: new_record ?  [game_session, game_session_attendance] :  game_session_attendance,
              id: dom_id(game_session_attendance, :form)) do |form| %>
  <div>
    <%= form.hidden_field :game_session_id, value: game_session_attendance.game_session_id %>
    <%= form.hidden_field :user_id, value: Current.user.id %>
  </div>

  <div>
    <%= form.label :attending, t("game_session_attendance.attending_label"), style: "display: block" %>
    <%= form.radio_button :attending, true,  checked: game_session_attendance.attending == true%>
    <%= form.label :attending_true, t("game_session_attendance.values.attending"), style: "display: inline" %>
    <%= form.radio_button :attending, false, checked: game_session_attendance.attending == false%>
    <%= form.label :attending_false, t("game_session_attendance.values.not_attending"), style: "display: inline" %>
    <%= form.radio_button :attending, "", checked: game_session_attendance.new_record? || game_session_attendance.attending == nil%>
    <%= form.label :attending_, t("game_session_attendance.values.unsure"), style: "display: inline" %>
    <%= render "shared/buttons/form_submit_button",
               form: form,
               text: t("game_session_attendance.edit.submit"),
               data: {turbo_submits_with: "Saving..."},
               extra_classes: "block mt-2 mb-2 disabled:bg-gray-600 disabled:cursor-default disabled:hover:bg-gray-600 dark:disabled:hover:bg-gray-600" %>
  </div>
<% end %>