<%= form_with(model: game_session_attendance.new_record? ?  [game_session, game_session_attendance] :  game_session_attendance) do |form| %>
  <% if game_session_attendance.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game_session_attendance.errors.count, "error") %> prohibited this game_session_attendance from being saved:</h2>

      <ul>
        <% game_session_attendance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :game_session_id, value: game_session_attendance.game_session_id %>
    <%= form.hidden_field :user_id, value: Current.user.id %>
  </div>

  <div>
    <%= form.label :attending, "Attendance", style: "display: block" %>
    <%= form.radio_button :attending, true,  checked: game_session_attendance.attending == true %>
    <%= form.label :attending_true, "Attending", style: "display: inline" %>
    <%= form.radio_button :attending, false, checked: game_session_attendance.attending == false %>
    <%= form.label :attending_false, "Not Attending", style: "display: inline" %>
    <%= form.radio_button :attending, "", checked: game_session_attendance.new_record? || game_session_attendance.attending == nil %>
    <%= form.label :attending_, "Unsure", style: "display: inline" %>
  </div>

  <div>
    <%= render "shared/buttons/form_submit_button", form: form, text: "Save Attendance", extra_classes: "block mt-2 mb-2" %>
  </div>
<% end %>