<%# locals: (game_session_attendance:) %>
<div id="<%= dom_id game_session_attendance %>" role="presentation">

  <div id="game_session_attendance_<%= game_session_attendance.id %>_group_membership_<%= game_session_attendance.group_membership.id %>"
       role="presentation"
       data-controller="anchor-position"
       data-anchor-position-target="anchor"
       data-anchor-position-position-style-value="<%= modal_wrapper? ? "fixed" : "absolute" %>"
       class="flex relative">
    <% icon = if game_session_attendance.attending.nil?
                'undecided.svg'
              else
                game_session_attendance.attending ? 'checkmark.svg' : 'xmark.svg'
              end
    %>
    <% frame_id = derive_permission_set_frame_id(user: game_session_attendance.user,
                                                 game_session: game_session_attendance.game_session) %>
    <% dialog_popover_id = "popover_#{frame_id}_#{SecureRandom.alphanumeric(3)}" %>

    <div data-controller="stimulus-popover">
      <div class="flex"
           data-action="mouseenter->stimulus-popover#show mouseleave->stimulus-popover#hide focusin->stimulus-popover#show focusout->stimulus-popover#hide"
           role="presentation">
        <button popovertarget="<%= dialog_popover_id %>"
                aria-label='<%= t("game_proposal.view_roles_label",
                                  username: game_session_attendance.user.username,
                                  game_name: game_session_attendance.game_name,
                                  group_name: game_session_attendance.group_name) %>'
                aria-haspopup="dialog"
                data-action="click->anchor-position#triggerUpdate">
          <%= user_avatar(game_session_attendance.user, size_x: 24, size_y: 24, svg_icon: icon) %>
        </button>
      </div>
      <%= render "shared/popover_stimulus",
                 id: "popover_game_session_attendance_#{game_session_attendance.id}",
                 extra_classes: "top-7 left-8 -translate-x-1/2 w-max" do %>
        <span class="sr-only">
          <%= game_session_attendance.user.username %>'s vote for <%= game_session_attendance.game_name %> in <%= game_session_attendance.group_name %>
        </span>
        <div class="pb-3">
          <div class="bg-gray-100 dark:bg-gray-700 border-b-2 rounded-t-lg border-gray-400 dark:border-gray-600 text-center">
            <span class="font-bold text-primary-600 mx-2" aria-hidden="true">
              <%= game_session_attendance.user.username %>
            </span>
          </div>

          <div class="pt-2 px-3">
            <span class="font-bold text-primary-600"><%= "#{t("game_session_attendance.attendance_label")}:" %></span>
            <span class="text-black dark:text-white"><%= format_attendance(game_session_attendance.attending) %></span>
          </div>

        </div>
      <% end %>
    </div>

    <%= render "shared/popover_top_layer", id: dialog_popover_id, extra_classes: "p-4" do %>
      <span class="sr-only">
        <%= game_session_attendance.user.username %>'s roles for <%= game_session_attendance.game_name %> in <%= game_session_attendance.group_name %>
      </span>
      <%= turbo_frame_tag frame_id,
                          role: "presentation",
                          src: game_session_permission_set_path(user_id: game_session_attendance.user.id, game_session_id: game_session_attendance.game_session.id),
                          data: { action: "turbo:frame-load->anchor-position#triggerUpdate"},
                          loading: "lazy" do %>
        <div class="size-16">
          <%= render "shared/spinner_absolute" %>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
