<%# locals: (game_proposal:, groups:, group:nil) %>
<div data-controller="game-selection search" data-search-src-value="<%= games_path(format: :turbo_stream) %>">
  <%= form_with(model: [group, game_proposal], data: {game_selection_target:"form"}) do |form| %>
    <%= render "shared/notification", id: "game_proposal_#{game_proposal.new_record? ? "new" : game_proposal.id}" %>

    <div class="flex flex-col items-center">
      <div>
        <%= form.hidden_field :game_id, data: { game_selection_target: "gameId"}, required:"" %>
      </div>
      <div class="flex flex-col items-center">
        <% if groups.length > 1 %>
          <%= form.label :group_id, class: "block mb-2 font-sans" %>
          <%= form.collection_select :group_id, groups, :id, :name, { prompt: "Select a group" }, class: "mb-2", required: "" %>
        <% else %>
          <%= form.label :group_id, groups.first.name, class:"font-semibold mb-2 text-lg" %>
          <%= form.hidden_field :group_id, value: groups.first.id %>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= render "games/game_list_header" %>

  <div class="relative">
    <%= turbo_frame_tag "game_list", src:games_path(format: :turbo_stream),
                        data: {turbo_prefetch:false, game_selection_target: "frame", search_target:"frame",
                               controller:"reload-on-restore", reload_on_restore_src_value:games_path(format: :turbo_stream)},
                        class:"mx-3" do %>
      <div class="grid grid-cols-3 gap-4 md:grid-cols-6 lg:grid-cols-9 py-3 sm:py-5 w-full h-full" aria-hidden="true">
        <% 18.times do %>
          <div class="aspect-[3/4]">
            <div class="bg-gray-200 dark:bg-gray-700 h-full w-full rounded-lg animate-pulse"></div>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= render "shared/spinner_absolute", start_hidden: true %>
  </div>

</div>
