<div data-controller="game-selection">
  <%= form_with(model: [group, game_proposal]) do |form| %>
    <% if game_proposal.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(game_proposal.errors.count, "error") %> prohibited this game_proposal from being saved:</h2>

        <ul>
          <% game_proposal.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div data-game-selection-target="selectedGame">
      <%= @game.name if @game.present? %>
    </div>

    <div>
      <%= form.hidden_field :game_id, data: { game_selection_target: "gameId"}, required:"" %>
    </div>

    <div>
      <%= form.label :group_id, style: "display: block" %>
      <%= form.collection_select :group_id, Current.user.groups, :id, :name, { prompt: "Select a group" }, required: "" %>
    </div>

    <div>
      <%= form.submit %>
    </div>

  <% end %>

  <%= form_with(url:games_path, method: :get) do |form| %>
    <label for="query" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
      </div>
      <%= form.text_field :query, name:"query", class:"block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder:"Search Games..." %>
      <%= form.submit "Search", data: {turbo_frame: "games_index"}, class:"text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
    </div>
  <% end %>

  <%= turbo_frame_tag "games_index", src:games_path do %>
    <div class="items-center justify-center w-full h-500 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
      <div class="px-3 py-1 text-xs font-medium leading-none h-full text-center text-primary-50 bg-blue-200 rounded-full animate-pulse dark:bg-blue-900 dark:text-blue-200">Loading Games...</div>
    </div>
  <% end %>
</div>
