<%= form_with(model: [group, game_proposal], data: { controller: "game-selection" }) do |form| %>
  <% if game_proposal.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game_proposal.errors.count, "error") %> prohibited this game_proposal from being saved:</h2>

      <ul>
        <% game_proposal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= link_to "Browse Games", games_path, data: { turbo_frame: "games_list" } %>
  <%= turbo_frame_tag "games_list" %>

  <div data-game-selection-target="selectedGame">
    <%= @game.name if @game.present? %>
  </div>
  <div>
    <%= form.label :game_id, style: "display: block" %>
    <%= form.hidden_field :game_id, data: { game_selection_target: "gameId"} %>
  </div>

  <div>
    <%= form.label :group_id, style: "display: block" %>
    <%= form.hidden_field :group_id, value: game_proposal.group_id %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.hidden_field :user_id, value: Current.user.id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
