<%# locals: (game_proposal:, proposal_availability: nil, proposal_permission_set:nil) %>
<%= content_tag :div, id: dom_id(game_proposal) do %>
  <%= turbo_frame_tag dom_id(game_proposal, :content),
                      role: "presentation",
                      data: { controller: "reload-on-restore",
                              reload_on_restore_src_value: game_proposal_path(game_proposal) } do %>
    <div class="flex flex-col items-center border border-gray-200 rounded-lg shadow
      md:flex-row bg-white dark:border-gray-700 dark:bg-gray-800 w-fit bg-">
      <%= display_game_art_and_name(game: game_proposal.game,
                                    only_art: true,
                                    img_classes: "object-cover rounded-lg h-auto md:rounded-none mt-4 md:mt-0
                                      md:rounded-s-lg w-24 ml-2",
                                    img_size: GameImageSize::LOGO_MED) %>

      <div class="flex justify-between">
        <div class="flex flex-col justify-between p-4 leading-normal">
          <div class="relative flex justify-between">
            <h3 class="mr-2 mb-2 text-lg font-semibold tracking-tight text-gray-900 game-name dark:text-white">
              <%= game_proposal.game_name %>
            </h3>
            <div class="mr-2 flex align-top space-x-1">
              <%= render partial: "game_proposals/options",
                         locals:  { game_proposal:           game_proposal,
                                    proposal_availability:   proposal_availability,
                                    proposal_permission_set: proposal_permission_set } %>
            </div>
          </div>

          <div id="game_proposal_details" class="space-y-1.5">
            <%= render "groups/group_link", group: game_proposal.group%>

            <div class="flex flex-wrap items-center text-sm text-gray-700 dark:text-gray-400">
              <%= render "proposal_votes/full_proposal_vote_button", game_proposal: game_proposal do %>
                <div class="mr-2">
                  <%= render "game_proposals/vote_count", game_proposal: game_proposal %>
                </div>
              <% end %>
              <% vote = Current.user.get_vote_for_proposal(game_proposal) %>
              <%= render "game_proposals/vote_link", proposal_vote: vote if vote.present? %>
            </div>
            <%= render "proposal_votes/proposal_vote_list", game_proposal: game_proposal %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<%= turbo_stream_from game_proposal %>