<div id="<%= dom_id game_proposal %>">
  <p>
    <strong>Group:</strong>
    <%= game_proposal.group_id %>
  </p>

  <p>
    <strong>Game ID:</strong>
    <%= game_proposal.game_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= game_proposal.user_id %>
  </p>

  <p>
    <strong>Yes votes:</strong>
    <%= game_proposal.yes_votes %>
  </p>

  <p>
    <strong>No votes:</strong>
    <%= game_proposal.no_votes %>
  </p>

</div>
