<%# locals: (game_proposal:) %>
<div data-controller="dropdown" class="relative">
  <button id="misc-dropdown-button" data-action="dropdown#toggle click@window->dropdown#hide"
          class="relative inline-flex items-center rounded-lg text-center text-sm font-medium focus:ring-4
              focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800"
          type="button">
    <%= inline_svg_tag "icons/chevron-down.svg" %>
  </button>


  <div id="misc-dropdown" data-dropdown-target="menu" class="absolute left-1/2 z-20 hidden w-44 origin-top
      -translate-x-1/2 transform rounded-lg bg-slate-100 shadow transition divide-y
      divide-gray-100 dark:bg-gray-700"
       data-transition-enter-from="opacity-0 scale-95"
       data-transition-enter-to="opacity-100 scale-100"
       data-transition-leave-from="opacity-100 scale-100"
       data-transition-leave-to="opacity-0 scale-95">
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200 space-y-2" aria-labelledby="misc-dropdown-button">
      <li class="flex">
        <%= link_to game_proposal_game_sessions_path(game_proposal), title: "View Game Sessions", class: "flex items-center px-2",
                    data: { action: "dropdown#toggle" } do %>
          <%= inline_svg_tag "icons/rectangle_stack.svg" %>
          <span class="ml-2">View Game Proposals</span>
        <% end %>
      </li>

      <% if policy(game_proposal).destroy? %>
        <li data-controller="dialog" data-action="click->dialog#backdropClose">

          <div class="text-error-600 dark:text-error-400">
            <button type="button" data-action="dialog#open" class="flex items-center px-2">
              <%= inline_svg_tag "icons/trash.svg" %>
              <span class="ml-2 text-left">Delete Game Proposal</span>
            </button>
          </div>

          <% content_for :modal_body do %>
            <%= render partial:"game_proposals/delete_form", locals: { game_proposal: game_proposal } %>
          <% end %>

          <% content_for :modal_title do %>
            <div class="flex items-center px-2">
              <span class="text-error-400"><%= inline_svg_tag "icons/exclamation-triangle" %></span>
              <span class="ml-1">Delete Game Proposal</span>
            </div>
          <% end %>

          <%= render "shared/confirmation_modal", title: "Delete Game Proposal" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>