<%# locals: (game_proposal:, proposal_availability: nil) %>
<%= render "shared/dropdown_list",
           id: "game_proposal_#{game_proposal.id}_misc_dropdown",
           label: t("game_proposal.miscellaneous_dropdown.title", game_name: game_proposal.game_name),
           svg_path: "icons/chevron-down.svg",
           button_classes: "relative inline-flex items-center rounded-lg text-center text-sm font-medium focus:ring-4
            focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800",
           list_classes: "absolute left-full z-40 hidden w-48 -translate-x-full transform rounded-lg bg-slate-100
            shadow transition dark:bg-gray-700 py-2 text-sm text-gray-700 dark:text-gray-200" do %>
  <li role="menuitem"
      class="flex hover:border-gray-600 dark:hover:border-gray-500 hover:bg-gray-200 dark:hover:bg-gray-600">
    <%= link_to game_proposal_game_sessions_path(game_proposal),
                title: t("game_session.index.label"),
                class: "flex items-center px-2 py-1 w-full",
                role: "menuitem",
                data: { action: "dropdown#toggle", turbo_frame: "_top" } do %>
      <%= inline_svg_tag "icons/rectangle_stack.svg", aria_hidden: true %>
      <span class="ml-2"><%= t("game_session.index.label") %></span>
    <% end %>
  </li>

  <li role="menuitem"
      class="flex hover:border-gray-600 dark:hover:border-gray-300 hover:bg-gray-200 dark:hover:bg-gray-600">
    <% has_availability = proposal_availability.present? %>
    <%= link_to has_availability ? edit_proposal_availability_path(proposal_availability) : new_game_proposal_proposal_availability_path(game_proposal),
                title: "Change your game proposal availability",
                class: "flex px-2 items-center w-full py-1",
                role: "menuitem",
                data: { turbo_frame: "_top" } do %>
      <%= inline_svg_tag "icons/calendar.svg", aria_hidden: true %>
      <span class="ml-2"><%= has_availability ? t("game_proposal_availability.edit.label") : t("game_proposal_availability.new.label") %></span>
    <% end %>
  </li>

  <% if policy(game_proposal).transfer_ownership? && game_proposal.associated_users_without_owner.any? %>
    <% transfer_button_content = capture do %>
      <button type="button"
              aria-haspopup="dialog"
              data-action="dialog#open"
              class="flex w-full items-center px-2 py-1 text-notice-400">
        <%= inline_svg_tag "icons/transfer.svg" %>
        <span class="ml-2"><%= t("ownership.transfer") %></span>
      </button>
    <% end %>

    <li role="menuitem"
        class="flex hover:border-gray-600 dark:hover:border-gray-300 hover:bg-gray-200 dark:hover:bg-gray-600">
      <%= render "shared/transfer_ownership_modal",
                 button_content: transfer_button_content,
                 resource_title: game_proposal.game_name,
                 form_partial:"ownerships/transfer_form",
                 resource: game_proposal %>
    </li>
  <% end %>

  <% if policy(game_proposal).destroy? %>
    <% button_content = capture do %>
      <button type="button"
              aria-haspopup="dialog"
              data-action="dialog#open"
              class="flex w-full items-center px-2 py-1 text-notice-400">
        <%= inline_svg_tag "icons/trash.svg", aria_hidden: true %>
        <span class="ml-2 text-left">Delete Game Proposal</span>
      </button>
    <% end %>

    <li role="menuitem"
        class="flex hover:border-gray-600 dark:hover:border-gray-300 hover:bg-gray-200 dark:hover:bg-gray-600">
      <%= render "shared/delete_modal",
                 button_content: button_content,
                 resource_title: game_proposal.game_name,
                 form_partial: "game_proposals/delete_form",
                 resource: game_proposal %>
    </li>
  <% end %>
<% end %>