<%# locals: (game_proposal:) %>
<%= content_tag(:div, id:dom_id(game_proposal, :vote_count), class: "#{dom_id(game_proposal, :vote_count)}") do %>
  <div>
    <div class="flex space-x-2">
      <strong>Yes: <%= game_proposal.yes_votes.count %></strong>
      <strong>No: <%= game_proposal.no_votes.count %></strong>
      <strong>Undecided: <%= game_proposal.undecided_votes.count %></strong>
      <div id="vote_link" class="flex">
        <%= render partial: 'game_proposals/vote_link', locals: {game_proposal: game_proposal} %>
      </div>
    </div>
    <div class="flex">
      <% game_proposal.proposal_votes.order(yes_vote: :desc).each do |vote| %>
        <%= render vote, group_membership: vote.user.membership_for_group(game_proposal.group) %>
      <% end %>
    </div>
  </div>
<% end %>