<%# locals: (game_proposal:) %>
<%= content_tag(:div, id:dom_id(game_proposal, :vote_count), class: "#{dom_id(game_proposal, :vote_count)}") do %>
  <div>
    <strong>Yes: <%= game_proposal.yes_votes.count %></strong>
    <strong>No: <%= game_proposal.no_votes.count %></strong>
    <strong>Undecided: <%= game_proposal.undecided_votes.count %></strong>

    <div class="flex">
      <% game_proposal.proposal_votes.order(yes_vote: :desc).each do |vote| %>
        <%= render vote %>
      <% end %>
    </div>
  </div>

<% end %>