<%# locals: (game_proposals:) %>
<%= render "shared/notification", id: "game_proposals" %>

<h5 class="text-xl font-bold mb-1">Game Proposals</h5>
<div id="game_proposals">
  <%= render partial: "game_proposals/game_proposal_list", locals:{game_proposals: game_proposals }%>
</div>

<div class="my-4">
  <%= render "shared/buttons/primary_link", path: new_game_proposal_path, text: "New Game Proposal" %>
</div>

<div data-controller="calendar" data-calendar-interactive="true" data-calendar-dialog-outlet=".dialog" data-calendar-flatpickr-outlet=".flatpickr"  data-calendar-user-id=<%= Current.user.id %> data-turbo-permanent>
  <%= render partial: 'calendars/calendar' %>
</div>