<p style="color: green"><%= notice %></p>

<%= render @game_proposal %>

<div>
  <%= render "proposal_votes/form", game_proposal: @game_proposal, proposal_vote: @proposal_vote %>

  <%= link_to "Edit this game proposal", edit_game_proposal_path(@game_proposal) %>
  <%= link_to "Back to game proposals", group_game_proposals_path(@game_proposal.group) %>
  <%= link_to "View Game Sessions", game_proposal_game_sessions_path(@game_proposal) %>
  <%= link_to "New Game Session", new_game_proposal_game_session_path(@game_proposal) %>

  <%= button_to "Destroy this game proposal", @game_proposal, method: :delete %>
</div>

<div id="calendar" data-controller="calendar" data-calendar-target="calendar" data-calendar-game-proposal-id=<%= @game_proposal.id %>>
</div>