<div class="flex flex-col items-center justify-between p-4 lg:flex-row space-y-3 lg:space-y-0 md:space-x-4">
  <div class="w-full lg:w-1/2">
    <%= form_with(id: "search-form",
                  url:schedules_path(format: :turbo_stream),
                  method: :get,
                  class:"flex items-center",
                  data: {search_target: "form"}) do |form| %>
      <label for="query" class="sr-only">Search</label>
      <div class="relative w-full">
        <div class="pointer-events-none absolute inset-y-0 flex items-center start-0 ps-3">
          <svg aria-hidden="true" class="h-5 w-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="flex">
          <%= form.text_field :query, name:"query", data: {search_target:"query"},
                              title:"Search Schedules",
                              class:"bg-tertiary-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                                  focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700
                                  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500
                                  dark:focus:border-primary-500",
                              placeholder:"Search Schedules..." %>
          <%= render "shared/buttons/search_submit_button", form: form, turbo_frame_id: "schedules_index" %>
          <%= render "shared/buttons/search_reset_button", form: form, extra_classes: "end-12" %>
        </div>
      </div>
    <% end %>

  </div>

  <div class="flex w-full flex-shrink-0 flex-col items-stretch justify-end md:w-auto md:flex-row space-y-2 md:space-y-0 md:items-center md:space-x-3">
    <%= render "shared/buttons/icon_link_thick", path: new_schedule_path, text: "New Schedule", data: { turbo_frame: "modal_frame"} %>
  </div>

</div>