<%# locals: (permission_set:, url:, roles:) %>
<%= render "shared/notification", id: "permission_set_#{permission_set.resource.id}" %>

<%= form_with(url: url, id:"form_#{permission_set.resource.model_name.param_key}_permission_set", method: :patch,
              data: {controller:"form-change-watcher"}) do |form| %>
  <div class="relative max-h-full" data-controller="role-removal">
    <div class="overflow-y-auto persistent-scrollbar max-h-[calc(100vh-200px)] min-h-24">
      <%= render "permissions_table", roles: roles, permission_set: permission_set %>
    </div>
  </div>

  <%= form.hidden_field :user_id, value: permission_set.users_roles.keys.first if permission_set.users_roles.size == 1 %>

  <div class="flex justify-between mt-2">
    <%= render "shared/buttons/form_submit_button", form: form, text: "Save", name: "update_roles",
                           extra_classes: "disabled disabled:cursor-not-allowed cursor-pointer disabled:dark:text-black
                           disabled:opacity-50 disabled:bg-gray-300 disabled:hover:bg-gray-300 disabled:dark:bg-gray-800
                           disabled:dark:hover:bg-gray-800",
                           data: { turbo_submits_with: "Saving...", form_change_watcher_target:"submitButton", } %>
  </div>

<% end %>