<%# locals: (roles:, permission_set:) %>
<table class="w-full text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400">
  <thead class="text-xs uppercase text-gray-700 bg-tertiary-50 dark:bg-gray-700 dark:text-gray-400">
  <tr>
    <th scope="col" class="sticky top-0 left-0 z-20 px-6 py-3 bg-tertiary-50 dark:bg-gray-600">
      User
    </th>
    <% roles.each do |role| %>
      <th scope="col" class="sticky top-0 z-10 px-6 py-3 bg-tertiary-50 dark:bg-gray-600">
        <%= role.name.humanize %>
      </th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% most_permissive_role = Current.user.most_permissive_cascading_role_for_resource(permission_set.resource) %>

  <% permission_set.users_roles.each do |user_id, user_info| %>
    <% user = user_info[:user] %>
    <% disabled = !Current.user.can_update_resource_permissions_for_peer_user?(user, permission_set.resource, most_permissive_role: most_permissive_role) %>
    <tr class="border-b bg-white dark:bg-gray-800 dark:border-gray-700 persistent-scrollbar">
      <th scope="row" class="sticky left-0 z-10 pr-3 pl-5 py-4 font-medium text-gray-900
                dark:text-white bg-white dark:bg-gray-800 min-w-32 text-wrap" >

        <%= username_with_resource_role_icons(user, permission_set.resource) %>

        <% if user.has_cached_role?(:owner, permission_set.resource) %>
          <span class="text-xs text-gray-500 dark:text-gray-400">Owner</span>
        <% end %>
      </th>

      <% roles.each do |role| %>
        <td class="px-6 py-4 text-center">
          <%= fields_for "permission_set[role_changes][#{user_id}]" do |subform|  %>
            <% checked = user_info[:role_ids].include?(role.id) %>
            <span title="<%= disabled ? 'You do not have permission to change this role' : 'Toggle Role' %>">
              <% if checked %>
                <%= subform.check_box :remove_roles,
                                      { disabled: disabled, multiple: true, checked: true, include_hidden: false,
                                        class: "rounded-lg cursor-pointer disabled:cursor-not-allowed disabled:opacity-50 border-4",
                                        data: { action:"change->role-removal#toggle change->form-change-watcher#checkForm", initial: true} }, "" %>
                <%= subform.check_box :remove_roles,
                                      { disabled: true, multiple: true, checked: true, include_hidden: false, class:"hidden" },
                                      role.id %>
              <% else %>
                <%= subform.check_box :add_roles, { disabled: disabled, multiple: true, include_hidden: false,
                                                    class: "rounded-lg cursor-pointer disabled:cursor-not-allowed disabled:opacity-50 border-2",
                                                    data: { action:"change->form-change-watcher#checkForm", initial: false } }, role.id %>
              <% end %>
            </span>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>