<%# locals: (schedule_id:, schedule_name:"", sub_form:) %>
<div class="nested-form-wrapper" data-new-record="<%= sub_form.object.new_record? %>">
  <%= sub_form.hidden_field :_destroy %>
  <%= sub_form.hidden_field :schedule_id,
                            data: { schedule_selection_target: "scheduleIdInput", schedule_id: schedule_id } %>
  <li class="flex list-none h-10 indent-2 bg-gray-200 dark:bg-gray-800 rounded-lg items-center justify-between">
    <span class="schedule-name" data-schedule-selection-target="scheduleName" data-schedule-id="<%= schedule_id %>">
      <%= schedule_name %>
    </span>
    <button
      type="button"
      data-action="schedule-selection#removeSchedule"
      data-schedule-id="<%= schedule_id %>"
      data-schedule-selection-target="removeButton"
      aria-label="<%= t("schedule.remove_from_availability_button_label") %>"
      title="<%= t("schedule.remove_from_availability_button_title") %>"
      class="remove-schedule-button text-black dark:text-white font-medium text-sm p-2 mr-2 dark:hover:text-gray-300
            hover:text-gray-600">
      <%= inline_svg_tag "icons/xmark.svg", class: "pointer-events-none" %>
    </button>
  </li>
</div>
