<div class="flex flex-col lg:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
  <div class="w-full lg:w-1/2">
    <%= form_with(id: "search-form", url:availabilities_path(format: :turbo_stream), method: :get, class:"flex items-center") do |sub_form| %>
      <label for="query" class="sr-only">Search</label>
      <div class="relative w-full">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="flex">
          <%= sub_form.text_field :query, name:"query", data: {search_target:"query"},
                                  title:"Search Availabilities",
                                  class:"bg-tertiary-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                                  focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700
                                  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500
                                  dark:focus:border-primary-500",
                                  placeholder:"Search Availabilities..." %>
          <%= render "shared/buttons/search_submit_button", form: sub_form, turbo_frame_id: "availabilities_index" %>
          <%= render "shared/buttons/search_reset_button", form: sub_form, extra_classes: "end-12" %>

        </div>
      </div>
    <% end %>
  </div>

  <div class="w-full md:w-auto flex flex-col lg:flex-row space-y-2 lg:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
    <%= render "shared/buttons/icon_link_thick", path: new_availability_path, text: "New Availability", data: { turbo_frame: "_top"} %>
  </div>

</div>
