<%= form_with(model: availability) do |form| %>
  <% if availability.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(availability.errors.count, "error") %> prohibited this availability from being saved:</h2>

      <ul>
        <% availability.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_area :name %>
  </div>

  <div>
    <%= form.collection_check_boxes :schedule_ids, @schedules, :id, :name, include_hidden: false do |schedule| %>
      <%= schedule.check_box(class: "w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600") %>
      <%= schedule.label { schedule.text }%>
    <% end %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.hidden_field :user_id, value: Current.user.id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
