<%# locals: (availability:, schedules:) %>
<div data-controller="schedule-selection search" data-schedule-selection-dialog-outlet=".dialog"
     data-schedule-selection-rails-nested-form-outlet="#<%= dom_id(availability, :form)%>"
     data-schedule-selection-calendar-outlet="#calendar_holder"
     data-schedule-selection-src-value="<%= availability_schedules_path(availability_id: availability.id, format: :turbo_stream) %>"
     data-search-src-value="<%= availability_schedules_path(format: :turbo_stream) %>">
  <div class="flex flex-col sm:flex-row justify-start gap-4"
       data-controller="search"
       data-search-src-value="<%= availability_schedules_path(availability_id: availability.id, format: :turbo_stream) %>">
    <section id="table_holder" class="bg-gray-50 dark:bg-gray-900">
      <div class="mx-auto max-w-screen-xl ">
        <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
          <%= render "availability_schedules/table/schedule_table_header", availability: availability %>
          <%= turbo_frame_tag "availability_schedule_list",
                              src: availability_schedules_path(availability_id: availability.id, format: :turbo_stream),
                              data: {schedule_selection_target:"frame", search_target:"frame", turbo_prefetch:"false", availability_id: availability.id} do %>
            Loading...
          <% end %>
        </div>
      </div>
    </section>
    <%= form_with(model: availability, id:dom_id(availability, :form), data: {controller:"rails-nested-form", rails_nested_form_wrapper_selector_value:".nested-form-wrapper"}) do |form| %>
      <% if availability.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(availability.errors.count, "error") %> prohibited this availability from being saved:</h2>
          <ul>
            <% availability.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <%= form.label :name, "Availability Name", style: "display: block" %>
        <%= form.text_area :name %>
      </div>

      <div>
        <%= form.label :description, "Availability Description", style: "display: block" %>
        <%= form.text_area :description %>
      </div>

      <div>
        <%= form.hidden_field :user_id, value: Current.user.id %>
      </div>

      <template data-rails-nested-form-target="template">
        <%= form.fields_for :availability_schedules, AvailabilitySchedule.new, child_index: "NEW_RECORD" do |sub_form| %>
          <%= render "availability_schedule_form", schedule_id: "0", schedule_name: "", sub_form: sub_form %>
        <% end %>
      </template>

      <div>
        Included Schedules:
        <%= form.fields_for :availability_schedules do |sub_form| %>
          <%= render "availability_schedule_form", schedule_id: sub_form.object.schedule&.id, schedule_name: sub_form.object.schedule.name, sub_form: sub_form %>
        <% end %>
        <div data-rails-nested-form-target="target"></div>
      </div>

      <div class="mt-2">
        <%= form.submit "Save Changes", class:"cursor-pointer focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" %>
        <%= link_to "Discard Changes", availability, class:"cursor-pointer focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900" %>
      </div>
    <% end %>
  </div>

  <h3 class="text-center mt-4 text-4xl font-extrabold dark:text-white">Preview</h3>
  <div id="calendar_holder" data-controller="calendar" data-calendar-dialog-outlet=".dialog" data-calendar-flatpickr-outlet=".flatpickr">
    <%= render partial: 'calendars/calendar' %>
  </div>
</div>