<%= form_with(model: availability) do |form| %>
  <% if availability.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(availability.errors.count, "error") %> prohibited this availability from being saved:</h2>

      <ul>
        <% availability.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_area :name %>
  </div>

  <% if local_assigns[:schedules]&.any? %>
    <h3>Schedules</h3>
    <%= form.fields_for :availability_schedules do |schedule_subform| %>
      <div>
        <%= schedule_subform.check_box :_destroy, {class: "w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600", checked: !schedule_subform.object.marked_for_destruction?}, "0", "1" %>
        <%= schedule_subform.label :_destroy, schedule_subform.object.schedule.name %>
        <%= schedule_subform.hidden_field :schedule_id, value: schedule_subform.object.schedule_id %>
      </div>
    <% end %>

    <% (schedules - availability.schedules).each do |schedule| %>
      <%= form.fields_for :availability_schedules, availability.availability_schedules.build(schedule: schedule) do |schedule_subform| %>
        <div>
          <%= schedule_subform.check_box :_destroy, {class: "w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"}, "0", "1" %>
          <%= schedule_subform.label :_destroy, schedule.name %>
          <%= schedule_subform.hidden_field :schedule_id, value: schedule.id %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <div>
    <%= form.hidden_field :user_id, value: Current.user.id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
