<%# locals: (availability:) %>
<%= modal_wrapper(availability.name) do %>
  <%= content_tag(:div, id:dom_id(availability, :content)) do %>
    <%= render "shared/notification", id: dom_id(availability) %>

    <%= turbo_frame_tag "availability_#{availability.id}" do %>
      <%= render availability %>
    <% end %>

    <div class="flex">
      <%= render "shared/buttons/icon_link",
                 path: edit_availability_path(availability),
                 title: "Edit Availability",
                 extra_classes: "font-semibold text-primary-950 hover:text-primary-800 dark:text-gray-200 dark:hover:text-gray-100",
                 svg_name:"edit",
                 data: {turbo_frame: "_top"} if policy(availability).edit? %>
      <% if policy(availability).destroy? %>
        <%= render "shared/delete_modal", resource: availability, form_partial: "delete_form" %>
      <% end %>
    </div>

  <% end %>
<% end %>