<%# locals: (availability:) %>
<%= modal_wrapper(availability.name) do %>
  <%= content_tag(:div, id:dom_id(availability, :content)) do %>
    <%= render availability %>

    <div class="flex">
      <%= render "shared/buttons/icon_link", path: edit_availability_path(availability), title: "Edit Availability", svg_name:"edit" if policy(availability).edit? %>
      <% if policy(availability).destroy? %>
        <%= render "shared/delete_dialog", resource: availability, form_partial: "delete_form" %>
      <% end %>
    </div>

  <% end %>
<% end %>