<%# locals: (availability:, schedules:) %>
<section class="bg-tertiary-50 dark:bg-gray-900 xl:flex xl:flex-col xl:items-center space-y-4">
  <%= render "shared/header_primary" do %>
    <%= t("availability.new.title") %>
  <% end %>

  <%= modal_wrapper(availability.name) do %>
    <%= render "form", availability: availability, schedules: schedules %>
  <% end %>

  <div class="mt-3">
    <%= render "shared/buttons/secondary_link", text: "Back to availabilities", path: availabilities_path %>
  </div>
</section>
<% content_for(:page_title, t("availability.title")) %>