<%= content_tag(:div, id:dom_id(@availability, :show)) do %>

  <%= render partial: "availabilities/show_content", locals: {availability: @availability} %>

  <div class="mt-4">
    <%= render "shared/buttons/secondary_link", path: availabilities_path, text: "Back to Availabilities" %>
  </div>

  <div data-controller="calendar"
       data-calendar-interactive-value="true"
       data-calendar-dialog-outlet=".dialog"
       data-calendar-flatpickr-outlet=".flatpickr"
       data-calendar-availability-id=<%= @availability.id %> data-turbo-permanent>
    <%= render partial: 'calendars/calendar' %>
  </div>

<% end %>
<%= content_for(:page_title, t("availability.title")) %>