<p style="color: green"><%= notice %></p>

<%= modal_wrapper(@availability.name) do %>
  <%= render @availability %>

  <div>
    <%= link_to "Edit this availability", edit_availability_path(@availability) %> |
    <%= button_to "Destroy this availability", @availability, method: :delete %>
  </div>
<% end %>

<%= link_to "Back to availabilities", availabilities_path %>

<div data-controller="calendar" data-calendar-availability-id=<%= @availability.id %>>
  <div id="calendar_toggles" data-calendar-target="toggles">
    <!-- Toggle buttons will be dynamically added here -->
  </div>
  <div id="calendar" data-calendar-target="calendar">
  </div>
</div>