<p style="color: green"><%= notice %></p>

<%= render @availability %>

<div>
  <%= link_to "Edit this availability", edit_availability_path(@availability) %> |
  <%= link_to "Back to availabilities", availabilities_path %>

  <%= button_to "Destroy this availability", @availability, method: :delete %>
</div>

<div data-controller="calendar" data-calendar-availability-id=<%= @availability.id %>>
  <div id="calendar-toggles" data-calendar-target="toggles">
    <!-- Toggle buttons will be dynamically added here -->
  </div>
  <div id="calendar" data-calendar-target="calendar">
  </div>
</div>