<!DOCTYPE html>
<html>
  <head>
    <title>TimeSynk</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" >
    <%= turbo_refresh_method_tag :morph %>
    <%= turbo_refresh_scroll_tag :preserve %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>

    <%= stylesheet_link_tag "application", "recurring_select", data: { turbo_track: "reload" } %>
    <%= javascript_include_tag "application", "recurring_select", data: { turbo_track: "reload" }, type: "module" %>
  </head>

  <body class="bg-tertiary-50 dark:bg-gray-900 dark:text-white" data-controller="loading-dialog">
    <%= render partial: "shared/navbar" %>

    <div class="p-4 sm:ml-44">
      <div class="mt-14 p-2 lg:p-4 h-full">
        <%= yield %>
      </div>
    </div>
    <div id="modal_container" class="max-h-screen">
      <%= turbo_frame_tag "modal_frame" do %>
        <!-- Modals will be inserted here -->
      <% end %>
      <%= render partial:"shared/loading_modal" %>
    </div>
    <div id="toast_container" class="fixed flex flex-col gap-4 right-5 bottom-5 max-w-xs z-50">
      <!-- Toast notifications will be inserted here -->
    </div>
  </body>
</html>
