<!DOCTYPE html>
<html>
  <head>
    <title>timeSynk</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" >
    <%= turbo_refresh_method_tag :morph %>
    <%= turbo_refresh_scroll_tag :preserve %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>

    <%= stylesheet_link_tag "application", "recurring_select", data: { turbo_track: "reload" } %>
    <%= javascript_include_tag "application", "recurring_select", data: { turbo_track: "reload" }, type: "module" %>
  </head>

  <body class="dark:bg-gray-900 dark:text-white">
    <%= render partial: "shared/navbar" %>

    <div class="p-4 sm:ml-64">
      <div class="p-4 mt-14">
        <%= yield %>
      </div>
    </div>
    <div id="modal_container">
      <%= turbo_frame_tag "modal_frame" do %>
        <!-- Modals will be inserted here -->
      <% end %>
    </div>  </body>
</html>
