<%# locals:(group_availability:, availabilities:, group: nil %>
<%= form_with(model: group_availability.new_record? ? [group, group_availability] : group_availability) do |form| %>
  <% if group_availability.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group_availability.errors.count, "error") %> prohibited this group_availability from being saved:</h2>

      <ul>
        <% group_availability.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div>
      <%= collection_select :group_availability, :availability_id, @availabilities, :id, :name, {}, data:{action: "change->availability-selection#setCalendarAvailability", availability_selection_target:"availabilitySelectInput"}  %>
    </div>
  </div>

  <div>
    <%= form.hidden_field :user_id, value: Current.user.id %>
  </div>

  <div>
    <%= form.hidden_field :group_id, value: group_availability.group_id %>
  </div>

  <div>
    <%= form.submit "Set Availability for Group: #{group_availability.group.name}" %>
  </div>
<% end %>
