<div data-controller="availability-selection" data-availability-selection-calendar-outlet="#calendar_holder" >

  <%= render "form", group_availability: @group_availability, availabilities: @availabilities %>

  <div class="my-6">
    <%= render "shared/buttons/delete_button", confirm: false, resource: @group_availability, text: "Unset Group Availability" %>
  </div>

  <div class="my-6">
    <%= render "shared/buttons/secondary_link",
               path: @group_availability.group,
               text:"Back to Group" %>
    <%= render "shared/buttons/secondary_link",
               path: @group_availability.availability,
               text:"View Current Availability: #{@group_availability.availability.name}" %>
  </div>

  <div id="calendar_holder"  data-controller="calendar" data-calendar-interactive="true" data-calendar-availability-id="<%= @group_availability&.id || @availabilities.first %>" data-turbo-permanent>
    <%= render partial: 'calendars/calendar' %>
  </div>
</div>
