<%= render @group_availability %>
<% group = @group_availability.group %>
<div>
  <%= link_to "Edit this group availability", edit_group_availability_path(@group_availability) %> |
  <%= link_to "Back to #{group.name}", group_path(group) %>

  <%= button_to "Destroy this group availability", @group_availability, method: :delete %>
</div>

<div data-controller="calendar" data-calendar-interactive="true" data-calendar-availability-id=<%= @group_availability.availability_id %> data-turbo-permanent>
  <%= render partial: 'calendars/calendar' %>
</div>
